html{
    font-size: 6.25%;
}

body{
    font-family: 'Quicksand';
    font-size: 16rem;
}

/* header */

header{
    background-color: #666;
    color:#FC7600;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position:fixed;
    top:0
}

header img.logo{
    width: 120px;
    margin: 1.5px;
    height: 120px;

}

nav{
    width: 60%;
}

#selected{
    background-color: white;
    color: black;
    padding: 10px 60px 17px 60px;
    border-radius: 10px 10px 0px 0px;
}

#selected:hover{
    font-weight: bold;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;

}

nav li{
    width: 50%;

}
nav li a{
    color:#FC7600;
    text-decoration: none;
}

nav li a:hover{
    color:#db7012;
}

.usuario{
    width:20%;
    margin-bottom: 15px;
}

.usuario a{
    color:#FC7600;
    text-decoration: none;
}

.usuario a:hover{
    color:#db7012;
}

.fotoPerfil{
    border-radius: 50%;
    width: 30%;
}

/* ordenação */
.ordenacao{
    margin-top: 140px;
    display: flex;
    justify-content: flex-end;
}

.ordenacao div{
    margin: 5px
}

.ordenacao p{
    display: inline;
}

/* serviços */

.containerServico{
    display: flex;
    border: 2px solid #fff ;
    margin: 20px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.containerEsquerda{
    display: flex;
    width: 50%;
}

.servicoConcluido1 .info p{ 
    display: inline;
}

.tipo1{
    font-weight: bold;
}

.servicoConcluido2{
    margin: 50px;
}

.servicoConcluido2 .info p{
    margin: 0px
}

.containerDireita a{
    text-decoration: none;
    color: black;
    width: 50%;
}

.status{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.step{
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #ACACA6;
    border-radius: 50%;
}

.botoes{
    display: flex
}

.botoes .prestador{
    border: 1.5px solid #BFBFBF;
    background-color: white;
    border-radius: 10px;
    font-family: 'Quicksand';
    padding: 5px;
    
}

.botoes .prestador:hover{
    font-weight: bold;
}

.botoes .entregaveis{
    border: 1.5px solid #BFBFBF;
    background-color:#FC7600;
    border-radius: 10px;
    font-family: 'Quicksand';
    padding: 5px;
}

.botoes .entregaveis:hover{
    font-weight: bold;
}

/* separador */

.separador{
    background-color: #2121219a;
    height: 2px;
    width: 80%;
    margin:auto;
}


/* footer */

footer{
    display: flex;
    justify-content: space-between;
}

footer ul{
    list-style-type: none;
}

footer li{
    padding: 5px;
}

footer li a{
    color:black;
    text-decoration: none;
}

footer li a:hover{
    font-weight: bold;
}

footer img.logo{
    width: 120px;
    margin: 50px 40px 0px 20px;
    height: 120px;

}

.redeSocial{
    width: 20px;
    height: 20px;
    margin: 5px;
}

.redes{
    display: flex;
    justify-content: flex-end;
    margin: 40px;
}