@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');  

html{
    font-size: 6.25%;
}

body{
    font-family: "Lato", sans-serif;
    font-size: 20rem;
    background-image: url("body-backgrounds/bg-opacity.png");
    margin: 0px;
}

/* informações */

.du-meuPerfil-info{
    border: 2px solid #fff ;
    margin: 20px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color:white;
    justify-content: center;
}

.du-meuPerfil-info h1{
    text-align: center;
}

.du-meuPerfil-info-secao{
    display: flex;
    border-bottom:#949494 dashed 1px ;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.du-meuPerfil-info-secao p{
    margin-top: 5px;
    font-size: 20rem;
}

.du-meuPerfil-info-secao-icone{
    height: 20px;
    position: relative;
    top: 12px;
    margin-right: 20px;
    margin-left: 20px;
}

.du-meuPerfil-info-secao-titulo{
    font-size: 14rem;
    color: #949494;
    margin-bottom: 0px;
}

.du-meuPerfil-info-secao-formulario{
    margin-bottom: 15px;
}

.du-meuPerfil-info-botao{
    border: 1.5px solid #FC7600;
    background-color:#FC7600;
    border-radius: 10px;
    padding: 5px;
    font-size: 20rem;
    width: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.du-meuPerfil-info-botao a{
    padding: 5px;
    font-size: 20rem;
    color: black;
    text-decoration: none;   
}

.du-meuPerfil-info-botao:hover{
    background-color: #fa8d2e;
    border: 1.5px solid #fa8d2e;
} 

.du-meuPerfil-info-botao2{
    border: 1.5px solid #BFBFBF;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    width: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.du-meuPerfil-info-botao2 a{
    padding: 5px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.du-meuPerfil-info-botao2:hover{
    background-color:#d4d4d4;
    border: 1.5px solid #d4d4d4;
}
