@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html{
    font-size: 6.25%;
}

body{
    font-family: "Lato", sans-serif;
    font-size: 20rem;
    background-image: url("body-backgrounds/bg-opacity.png");
    margin: 0px;
}
main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* ordenação */
.ordenacao{
    margin-top: 20px;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
}

.dropdown{
    height: fit-content;
    font-size: 18rem;
}

.cronos{
    display: flex;
    margin-right: 15px;
}

p{
    margin: 0  5px 0 0;
    font-size: 20rem;
}


.containerServico{
    width: 90%;
    display: flex;
    border: 2px solid #fff ;
    margin: 20rem;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color:white;
    justify-content: space-around;
    align-items: center;
}

.containerEsquerda{
    display: flex;
    width: 60%;
    margin-left: 40px;
    align-items: center;
}

h2{
    font-size: 22rem;
}

.info{
    font-size: 20rem;
}

.servicoContratado1{
    margin: 20rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.servicoContratado1 .info p{ 
    display: inline;
    
}

.tipo1{
    font-weight: bold;
}

.servicoContratado2{
    margin: 20rem;
}

.servicoContratado2 .info p{
    margin: 0px
}

.servicoContratado3{
    margin: 20rem;
}

.servicoContratado3 .info p{ 
    display: inline;
}

.tipo2{
    font-weight: bold;
    text-decoration: underline;  
}

.containerDireita{
    width: 20%;
    
}

.informacoes{
    font-size: 12rem;
    text-align: end;
}

.botoes{
    margin: 20rem;
    width: 10%;
}

.botoes p{
    margin: 0px;
    text-align: center;

}

.botoes .entregaveis{
    border: 1.5px solid #FC7600;
    background-color:#FC7600;
    border-radius: 10px;
    padding: 5px;
    font-size: 20rem;
    width: 100%;
    
}

.botoes .entregaveis:hover{
    background-color: #fa8d2e;
    border: 1.5px solid #fa8d2e;
}

.dash-mem-jobs-fin{
    text-decoration: none;
    color: white;
}
@media (max-width:600px){
    .containerServico{
        display: flex;
        border: 2px solid #fff ;
        margin: 20px;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background-color:white;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .containerEsquerda{
        display: flex;
        width: 100%;
        margin-top: 20rem;
        margin-left: 40rem;
        flex-wrap: wrap;
    }
    .containerCentro{
        width: 100%;
        margin-top: 20rem;
        margin-left: 40rem;
    }
    .containerDireita{
        width: 100%;
        
    }
    .servicoContratado1{
        width: fit-content;
        margin: 20rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 55%;
    }
    .servicoContratado2{
        margin: 20rem;
        width: 55%;
    }
    .servicoContratado3{
        margin: 20rem;
        width: 55%;
    }
    .botoes{
        justify-content: center;
        display: flex;
        width: 50%;
    }
    .botoes .entregaveis{
        border: 1.5px solid #FC7600;
        background-color:#FC7600;
        border-radius: 10px;
        padding: 5px;
        font-size: 14rem;
        width: 100%;
        margin: 0rem;
    }
    .botoes .prestador{
        width: 100%;
        margin: 0rem;
    }
    .containerDireita{
        width: 100%;
        margin: 0rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .informacoes{
        margin-left: 50rem;
    }
    .info{
        text-align: left;
    }
}