@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

html{
    font-size: 6.25%;
}

body{
    font-family: 'Quicksand';
    width: 100%;
    min-height: 100vh;
    margin: auto;
}

/* header */

header{
    background: url(/images/home/header.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.icons-header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.logo-icon{
    margin: 2.5% 1.9%;
}

.button-login{
    width: 10%;
    height: 1%;
    margin-top: 8.5%;
}

/* nav bar */

nav{
    margin: 0 0 0 17%;
}

.nav-container ul {
    width: 1070px;
    height: 91px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-container ul li a{
    color: #212121;
    text-decoration: none;
    font-size: 25rem;
}

.nav-container ul li a:hover{
    border-bottom: 2px solid #FC7600;
}

/* sessão portfólio */

.backgroundNav-Portfolio{
    width: 100%;
    height: 150vh;
    background: url(/images/home/headerImg-opc3.png);
    background-position: center;
    background-attachment: fixed;
}

#portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.portfolioProjeto-3, .portfolioProjeto-4{
    margin: 1% 0 0 0;
}

/* sessão de serviços */

.servicos{
    width: 100%;
    height: 200vh;
    background: url(/images/home/backgroundImage-nossosServicos-opc3.png);
    background-position: center;
    background-attachment: fixed;

    margin: -3.3% 0 0 0; /* Feito para cobrir o gap entre sessões */
}

.servicos h2{
    font-size: 64rem;
    font-family: 'Quicksand';
    color: #212121;
    padding: 4.7% 0 0 4.6%;
}

.container-servicos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.box-servico{
    border: 1px solid rgba(51, 51, 51, 0.5);
    filter: drop-shadow(4rem 4rem 4rem rgba(0, 0, 0, 0.25));
    border-radius: 20rem;
    width: 390px;
    height: 572px;
    text-align: center;
    margin: 0 0 5% 0.4%;
}

.box-servico h3{
    font-family: 'Lato';
    font-size: 36rem;
    font-weight: 800;

    color: #FC7600;
}

.box-servico img{
    width: 370px;
    height: 227px;
}

.box-servico p{
    width: 268px;
    height: 159px;
    font-family: 'Quicksand';
    font-size: 18rem;
    color: #212121;

    margin: 3.5% 0 0 16%;
}

.box-servico button{
    width: 258px;
    height: 42px;
    
    background: #FC7600;
    color: #F5F4F6;
    border: none;
    border-radius: 18px;
    
    box-shadow: 0rem 4rem 4rem rgba(0, 0, 0, 0.25) ;
}

/* quem somos */

.quem-somos{
    width: 100%;
    height: 100%;
    background-image: url(../images/quem-somos/backgroundImgOpc3.jpg);
    background-position: center;
    background-attachment: fixed;
}

.quem-somos-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quem-somos-intro h2{
    font-family: 'Lato';
    font-size: 64rem;
    align-self: flex-start;
    color: #212121;
    font-weight: 700;
    margin: 3.6% 0 0 5.2%;
}

.quem-somos-intro p{
    font-size: 36rem;
    width: 60%;
    text-align: justify;
    margin: 7% 9.5% 7% 0;
}

.container-socios{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 07%;
}

.socio{
    width: 30%;
    height: 30vh;
}
.socio img{
    width: 60%;
    height: 100%;
}

.socio h3{
    font-family: 'Lato';
    font-size: 48rem;
    font-weight: 700;
}

.socio p{
    font-size: 24rem;
    font-weight: 400;
    width: 108%;
    text-align: center;
    margin: 0 -24%;
}

.button-socios{
    height: 10vh;
    width: 66.5%;
    margin: 32.9% 0 6.5% 11.3%;


    background-color:#FC7600;
    border: none;
    border-radius: 18rem;
    color: #FFFFFF;
    font-family: 'Lato';
    font-size: 48rem;
    font-weight: 800;
}

/* sessão parceiros */

.parceiros{
    width: 100%;
    height: 100%;
    background-image: url(../images/parceiros/backgroundImgOpc3.png);
    background-position: center;
    background-attachment: fixed;
}

.parceiros h2{
    width: 29%;
    margin: 0 6.5%;
    padding: 4.2% 0;

    font-family: 'Lato';
    font-weight: 700;
    font-size: 64rem;
    line-height: 77px;
    color: #000000;
}

/* footer */

body{
    line-height: 1.5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-footer{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

footer{
    background: #F5F4F6;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;

}

.footer-col h4{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #FC7600;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #81A8E7;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #81A8E7;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #FC7600;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    font-size: 20px;
    background: #81A8E7;
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease-out;
}

.footer-col .social-links a:hover{
    cursor: pointer;
    transform: translateY(-15px);
}
