@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    background-image: url("body-backgrounds/bg-opacity.png");
    font-family: 'Open Sans', sans-serif;
    
  
}
header{
    text-align: center;
    margin-bottom: 2%;
}
img{
    /*margin-left: 50%;*/
    width: 120px;
    top: 120px;
}
main{
   text-align: center;
}
.card-login{
   display: inline-block;
    width: 360px;
    height: 577px;
    left: 493px;
    top: 185px;
    mix-blend-mode: normal;
    border: 2.8px solid #FC7600;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.50));
    border-radius: 18px;
    padding: 1%;
    }
.container-01{
    /*position: absolute;*/
    width: 100px;
    height: 42px;
    /*margin-left: 15px;*/
    top: 190px;
    display: flex;
}

.container-02{
    font-size:  12.5px; 
    color:  #000;
    opacity:  .8;
    font-weight:  400; 
    margin-top: 25px;
justify-content: center;    
   

}


.email{
    
    margin-top: 35px;
}

input[type=email]{
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}

input[type="password"] {
    width: 95%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Open Sans', caption;

}

a{
    color: black;
    margin-left: 15px;
    
}

button {
    background-color: #FC7600;;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 95%;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    
}
  
  button:hover {
    opacity: 0.8;
  }

@media (max-width:1024px) {

    header{
        margin-left: 5%;
        text-justify: center;
    }
    .card-login {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 5%;
    }
  

}
      
  