@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
     
  
html{
    font-size: 6.25%;
}

body{
    font-family: Arial;
    font-size: 16rem;
    background-image: url("body-backgrounds/bg-opacity.png");
    margin: 0px;
    padding: 0;
    margin: 0;
}
main{
    display: flex;
 
  
}
.card-login{
    display: flex;
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
    width: 1160px;
    height: 600px;   
    border: 2.8px solid #FC7600;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.50));
    border-radius: 18px;
    background-color: white;
    text-align: center;
    
}
.container{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    margin-left: 8px;
    
}

.menu-lateral{
    display:inline-block;
      
    /*background-color: greenyellow;*/
    width: 450px;
    height: 35em;
    border-radius: 18px;
    
    box-shadow: 4px 4px 4px 4px rgba(112, 112, 112, 0.25);
}


 

#step-selection{

    display: flex;
    place-content:center;
    width: 450px;
    height: 3em;
    margin-top: 35px;
    border-radius: 5px;
    border: #FC7600 solid 1px;
    font-weight: bold;
    font-size: 14px;
  

}
#step-selection p{

    width: 380px;
}

.step{
    display: flex;
    place-content:center;
    width: 450px;
    height: 2em;
    margin-top: 66px;
    font-weight: bold;
    font-size: 14px;


}

.step p{

    width: 300px;
}


.bolinhas{
    /* position: relative;*/
    width: 35px;
     display: flex;
     justify-content: space-around;
     z-index: 2;
     margin-top: 5px;
 }

 .bolinhasnaoselect{
    /* position: relative;*/
    width: 35px;
     display: flex;
     justify-content: space-around;
     z-index: 2;
     margin-left: 85px;
     margin-top: 5px;
 }
 
 .bolaOk{
    
     height: 28px;
     width: 28px;
     background-color: #FC7600;
     border: #ACACA6 solid 1px;
     border-radius: 60%;
     text-align: center;
     padding-top: 3px;
 } 

 .no{
     
    background-color: transparent;
    border-color: #FC7600;
    color: #FC7600;

 }

 
 /* Dashboard central*/

.acao-central{
    margin-top: 15px;
}
.acao-central{
    
    box-shadow: 4px 4px 4px 4px rgba(112, 112, 112, 0.25);
    width: 650px;
    height: 35em;
    border-radius: 18px;
    margin-left: 40px;
}
.title{
    display: grid;
    place-content: center;
    width: 100%;
    height: 2em;
    border-radius: 5px;
    background-color:#FC7600;
    padding: 2px;
    font-weight: bold;
    
} 

.inputscentro{
   display: inline-block;
    align-items: center;

   
}
.inputscentro p{
    width: 350px;
    
}
input{
    margin-left: 2px;
}

input[type=text]{
    width: 75%;
    padding: 12px 20px;
    margin: 15px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-right: 80px;
    
}
input[type=number]{
    width: 45%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-right: 80px;
    
}
  

