<footer>
    <div class="container-footer">
        <div class="row-footer">
            <div class="footer-col">
                <h4>conheça</h4>
                <ul>
                    <li><a href="#quemSomos">quem somos</a></li>
                    <li><a href="#splideDois">portifólio</a></li>
                    <% if (!dadosUsuario){ %>
                        <li><a href="/orcamento/orcamentoSLogin">orçamento</a></li>
                        <%}%>
                            <%if(dadosUsuario){%>
                                <li><a href="/orcamento">orçamento</a></li>
                                <%}%>
                                    <li><a href="/cadastro-usuario">cadastre-se</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contate-nos</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="tel:(11)999119438">telefone</a></li>
                    <li><a href="https://web.whatsapp.com/send?phone=+55(11)999119438" target="_blank">whatsapp</a></li>
                    <li><a href="mailto:contato@estudioaires.com.br">contato@estudioaires.com.br</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>privacidade</h4>
                <ul>
                    <li><a href="#">termos</a></li>
                    <li><a href="#">condições de uso</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Siga-nos</h4>
                <div class="social-links">
                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://instagram.com/estudio.aires_?utm_medium=copy_link" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>