
<!-- ↓INCLUDE PARA ADICIONAR O FOOTER↓ -->
<!-- <%- include partials/footer.ejs %> -->

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/css/partials/footerGeral.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <footer class="footer">
        <div class="container-footer">
            <div class="row">
                <div class="footer-col">
                    <h4>conheça</h4>
                    <ul>
                        <li><a href="#quem-somosEA">quem somos</a></li>
                        <li><a href="#portfolio">portifólio</a></li>
                        <li><a href="/orcamento">orçamento</a></li>
                        <li><a href="/cadastro-usuario">cadastre-se</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contate-nos</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <!--Arrumar esse caminho-->
                        <li><a href="#">telefone</a></li>
                        <!--Arrumar esse caminho-->
                        <li><a href="#">whatsapp <i class="fab fa-whatsapp"></i></a></li>
                        <!--Arrumar esse caminho-->
                        <li><a href="#">ipDoEmail@email.com</a></li>
                        <!--Arrumar esse caminho-->
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>privacidade</h4>
                    <ul>
                        <li><a href="#">termos</a></li>
                        <!--Arrumar esse caminho-->
                        <li><a href="#">condições de uso</a></li>
                        <!--Arrumar esse caminho-->
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>Siga-nos</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <!--Arrumar esse caminho-->
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <!--Arrumar esse caminho-->
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <!--Arrumar esse caminho-->
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <!--Arrumar esse caminho-->
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>