 
    <a id="logo" href="../html/home.html">Estudio Aires </a>
    <nav>
        <ul>
            <li><a href="#">Contatos</a></li>
            <li><a href="/solicitacoes/:idUsuario">Solicitações</a></li>
            <li><a href="/orcamento">+ Novo Orçamento</a></li>
            
        </ul>
    </nav>
    <div class="usuario">
        <a href="../dashboardUsuario/dashboardUsuario_meuPerfil.html">Nome do usuario 
        <img class= "fotoPerfil" src ="/img/header/fotoPerfil.png" alt="Foto usuário">
        </a>
    </div>
