<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- Partials Header-->
    <link rel="stylesheet" href="/css/partials/headerAreaRestritaUsuarios.css">


    <!-- CSS páginas-->
    <!-- Usuários -->
    <link rel="stylesheet" href="../css/dashboardUsuarioEMembro_meuPerfil.css">
    <link rel="stylesheet" href="/css/dashboardUsuario_entregaveis.css">
    <link rel="stylesheet" href="/css/dashboardUsuario_solicitacoes.css">
    <link rel="stylesheet" href="/css/DU_recuperacaoSenha.css">
    <link rel="stylesheet" href="../css/dashboardUsuario_alteracaoSenha.css">

    <!-- Membros -->
    <link rel="stylesheet" href="../css/partials/header.css">
    <link rel="stylesheet" href="../css/dashboardMembro_aprovacoes.css">
    <link rel="stylesheet" href="../css/dashboardMembro_jobsFinalizados.css">
    <link rel="stylesheet" href="../css/dashboardMembro_minhaAgenda.css">
   

    <!--Página de orçamento-->
    <link rel="stylesheet" href="css/orcamento.css">


    <!--Font Awesome-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>