<link rel="stylesheet" href="../css/partials/headerAreaRestritaUsuarios.css">
<header>
    <a id="logo" href="/">Estudio Aires </a>
    <nav>
        <ul>
            <!-- DUVIDA SOBRE CRIAR ROTA PARA AS INFOS DO PROPRIO USUARIO -->
            <li><a href="/dashboardUsuario/solicitacoes/:idUsuario">Solicitações</a></li>
            <li><a href="/orcamento">+ Novo Orçamento</a></li>
            <li><a href="/contato">Contate-nos</a></li>
        </ul>
    </nav>
    <div class="usuario">
        <a href="/dashboardUsuario/meuPerfil">Nome do usuário
            <img class="fotoPerfil" src="../img/fotoPerfil.jpg" alt="Foto usuário">
        </a>
    </div>
</header>