<header>
    <a id="logo" href="/">Estudio Aires </a>
    <nav class="nav-hea">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboardUsuario/solicitacoes">Solicitações</a></li>
            <li><a href="/orcamento">+ Novo Orçamento</a></li>
            <li><a href="/contato">Contate-nos</a></li>
        </ul>
    </nav>

    <div class="dropdown">
        <div class="dropdown a">
            <button onclick="myFunction()" class="dropbtn btn btn-secondary dropdown-toggle a">
                Olá, <%= dadosUsuario.nome %>! ▼</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/dashboardUsuario/meuPerfil">Meu Perfil</a>
                <a href="/dashboardUsuario/solicitacoes">Solicitacoes</a>
                <a href="/orcamento">+ Novo Orçamento</a>
                <a href="/logout">Sair</a>
            </div>
        </div>
    </div>
    </div>
    <script src="/js/user-partials.js"></script>
</header>