<header>
    <div class="header-logo">
        <a href="/" class="linkLogo-header">Estúdio Aires</a>
        <nav>
            <ul class="links-header">
                <li><a class="ab link link--metis" href="/">Home</a></li>
                <li><a class="ab link link--metis" href="#servicos">Serviços</a></li>
                <li><a class="ab link link--metis" href="#quemSomos">Quem Somos</a></li>
                <li><a class="ab link link--metis" href="/contato">Contato</a></li>
            </ul>
        </nav>

        <!--USUARIO LOGADO-->
        <div class="dropdown">
            <% if(dadosUsuario) { %>
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn btn btn-secondary dropdown-toggle a">
                         Olá, <%= dadosUsuario.nome %>! ▼</button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="/dashboardUsuario/meuPerfil">Meu Perfil</a>
                        <a href="/dashboardUsuario/solicitacoes/:idUsuario">Solicitacoes</a>
                        <a href="/orcamento">+ Novo Orçamento</a>
                        <a href="/logout">Sair</a>
                    </div>
                </div>
        </div>
        <script>
            /* When the user clicks on the button, 
                                                                                                                                                                                                                                                                                                                                                                                                                        toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function(event) {
                if (!event.target.matches('.dropbtn')) {
                    let dropdowns = document.getElementsByClassName("dropdown-content");
                    let i;
                    for (i = 0; i < dropdowns.length; i++) {
                        let openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        </script>
        <% } %>
            <!--USUARIO NAO LOGADO-->
            <% if(!dadosUsuario) { %>
                <div>
                    <a class="loginLink" href="/login">Entre/Cadastre-se</a>
                </div>
                <% } %>
    </div>
</header>