<header>
    <nav>
        <a id="logo" href="/">Estudio Aires </a>
        <ul>
            <li <% if (title==='Aprovações' ) { %> id='selected'
                <% } %> > <a href="/dashboardMembro/aprovacoes">Aprovações</a></li>
            <li <% if (title==='Minha Agenda' ) { %> id='selected'
                <% } %> ><a href="/dashboardMembro/minhaAgenda">Minha Agenda</a></li>
            <li <% if (title==='Meus jobs finalizados' ) { %> id='selected'
                <% } %> ><a href="/dashboardMembro/jobsFinalizados">Jobs Finalizados</a></li>
        </ul>
    </nav>
    <div class="usuario">
        <div class="usuario-flex"><img class="fotoPerfil" src="/img/fotoPerfil.jpg" alt="Foto usuário"></div>
        <div class="usuario-flex">
            <a href="/dashboardMembro">
                <%= dadosUsuario.nome %>
            </a>
        </div>

    </div>
</header>