    <header class="headerServico">

        <div class="headerServico--backButton">
            <a href="/"><img src="../img/seta-retorno.png" alt="retorno" style="width: 30px; margin: 15px;"></a>
            <p class="headerServico--backButton__paragraph">Home</p>
        </div>
    
        <h1 class="headerServico--h1">Serviço</h1>
    
        <p class="headerServico--p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vitae, alias maiores voluptatum esse quia laborum ex. Voluptate omnis cupiditate, sint voluptatum impedit cumque cum illo esse aperiam nisi suscipit?</p>
    
        <button class="headerServico--buttonOrcamento"><a class="headerServico--buttonLink" href="/orcamento"> Quero um orçamento</a></button>

    </header>