<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estúdio Aires</title>
    <link rel="stylesheet" href="/css/home.css">
   
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
</head>

<header>
    <!--Nav fixo do site-->
    <div class="header-log-nav">
        <div class="logo a"><a href="/" class="ab">Estúdio Aires</a></div>
        <nav>
            <ul class="nav-links">
                <li><a class="ab" href="/">Home
                        <!--Fazer redirect?-->
                    </a></li>
                <li><a class="ab" href="#servicosEA">Serviços</a></li>
                <li><a class="ab" href="#quem-somosEA">Quem Somos</a></li>
                <li><a class="ab" href="#parceirosEA">Parceiros</a></li>
                <li><a class="ab" href="/contato">Contato</a></li>
            </ul>
        </nav>

        <!-- Código para o login (modal na homepage) -->
        <div class="dropdown">
            <% if(dadosUsuario) { %>
              
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn btn btn-secondary dropdown-toggle a">
                         Olá, <%= dadosUsuario.nome %>! ▼</button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="/dashboardUsuario/meuPerfil">Meu Perfil</a>
                      <a href="/dashboardUsuario/solicitacoes/:idUsuario">Solicitacoes</a>
                      <a href="/orcamento">+ Novo Orçamento</a>
                      <a href="#">Log Out</a>
                    </div>
                  </div>
 
        </div>
        <script>
            /* When the user clicks on the button, 
            toggle between hiding and showing the dropdown content */
            function myFunction() {
              document.getElementById("myDropdown").classList.toggle("show");
            }
            
            // Close the dropdown if the user clicks outside of it
            window.onclick = function(event) {
              if (!event.target.matches('.dropbtn')) {
                let dropdowns = document.getElementsByClassName("dropdown-content");
                let i;
                for (i = 0; i < dropdowns.length; i++) {
                  let openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                  }
                }
              }
            }
            </script>
        <% } %>
            <% if(!dadosUsuario) { %>
                <div class="navbar-item">
                    <div class="buttons">
                        <button onclick="document.getElementById('id01').style.display='block'" class="login a"><a
                                href='/login'>Login</a></button>
                    </div>
                    <form method="GET" action="/cadastro-usuario">
                        <div class="container-cadastrese">
                            <span class="header-cadastrese">Novo no Estúdio?
                                <input class="header-cadastrese" type="submit" value="CADASTRE-SE"></input>
                        </div>
                    </form>
                </div>
                <% } %>


    </div>
</header>
<!-- If para sessao do usuario -->