

<%#- include partials/headerAreaRestritaMembros.ejs %>

<a id="logo" href="/">Estudio Aires </a>
<nav>
    <ul>
        <li><a id = "selected" href="/dashboardMembro/aprovacoes">Aprovações</a></li>
        <li><a href="/dashboardMembro/minhaAgenda">Minha Agenda</a></li>
        <li><a href="/dashboardMembro/jobsFinalizados">Jobs Finalizados</a></li>
    </ul>
</nav>
<div class="usuario">
    <div class="usuario-flex"><img class= "fotoPerfil" src ="/img/fotoPerfil.jpg" alt="Foto usuário"></div>
    <div class="usuario-flex"><a href="/dashboardMembro" >Nome do usuario </a></div>
    
</div> 