<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <!-- Global -->
    <link rel="stylesheet" href="/css/global.css">

    <!--Font Awesome-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- HeaderAreaLivreSemLogin -->
    <link rel="stylesheet" href="/css/partials/headerAreaLivreSemLogin.css">
    <link rel="stylesheet" href="/css/partials/headerAreaLivreSemLoginOrca.css">

    <!-- Home -->
    <link rel="stylesheet" href="/css/home.css">

    <!--Carrosseis da Home-->
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <script src="/js/splide.js"></script>

    <!-- Galeria de projetos -->
    <link rel="stylesheet" href="/css/projetos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

    <!--Cadastro Membro-->
    <link rel="stylesheet" href="../css/cadastroMembro.css">

    <!--Cadastro Usuario-->
    <link rel="stylesheet" href="/css/cadastro.css">

    <!-- Login -->
    <link rel="stylesheet" href="/css/modais/login-modal.css">
    <script src="/js/modalLogin.js"></script>

    <!-- Dashboard Usuario -->
    <link rel="stylesheet" href="/css/partials/headerAreaRestritaUsuarios.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <link rel="stylesheet" href="/css/dashboardUsuarioEMembro_alteraDados.css">
    <link rel="stylesheet" href="../css/dashboardUsuario_alteracaoSenha.css">
    <link rel="stylesheet" href="/css/dashboardUsuarioEMembro_meuPerfil.css">
    <link rel="stylesheet" href="/css/dashboardUsuario_solicitacoes.css">

    <!-- Área Restrita Admin -->
    <link rel="stylesheet" href="/css/DB_AdminAuth.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!--Página de orçamento com login-->
    <link rel="stylesheet" href="/css/orcamento.css">
    <link rel="stylesheet" href="/css/orcamentoSLogin.css">

    <!--Recuperação de Senha-->
    <link rel="stylesheet" href="/css/DU_recuperacaoSenha.css">

    <!-- Página de contato -->
    <link rel="stylesheet" href="/css/contato.css">

    <!-- Footer -->
    <link rel=" stylesheet" href="/css/partials/footer.css">
</head>