<link rel="stylesheet" href="/css/home.css">

<header>
    <!--Nav fixo do site-->
    <div class="header-log-nav">
        <div class="logo"><a href="/">Estúdio Aires</a></div>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home <!--Fazer redirect?--></a></li> 
                <li><a href="#servicosEA">Serviços</a></li>
                <li><a href="#quem-somosEA">Quem Somos</a></li>
                <li><a href="#parceirosEA">Parceiros</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
        <!-- Código para o modal da home -->
        <button onclick="document.getElementById('id01').style.display='block'" class="login"><a
                href='/login'>Login</a></button>

        <form method="GET" action="/cadastro-usuario">
            <div class="container-cadastrese">
                <span class="header-cadastrese">Novo no Estúdio?
                    <input class="header-cadastrese" type="submit" value="CADASTRE-SE"></input>
            </div>
        </form>
    </div>
</header>