<header>
    <div class="header-logo">
        <a href="/" class="linkLogo-header">Estúdio Aires</a>
        <nav>
            <ul class="links-header">
                <li><a class="ab link link--metis" href="/">Home</a></li>
                <li><a class="ab link link--metis" href="#servicos">Serviços</a></li>
                <li><a class="ab link link--metis" href="#quemSomos">Quem Somos</a></li>
                <li><a class="ab link link--metis" href="/contato">Contato</a></li>
            </ul>
        </nav>

        <!--USUARIO LOGADO-->
        <div class="dropdown">
            <% if(dadosUsuario) { %>
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn btn btn-secondary dropdown-toggle a">
                         Olá, <%= dadosUsuario.nome %>! ▼</button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="/dashboardUsuario/meuPerfil">Meu Perfil</a>
                        <a href="/dashboardUsuario/solicitacoes/:idUsuario">Solicitacoes</a>
                        <a href="/orcamento">+ Novo Orçamento</a>
                        <a href="/logout">Sair</a>
                    </div>
                </div>
        </div>
        <script>
            /* When the user clicks on the button, 
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function(event) {
                if (!event.target.matches('.dropbtn')) {
                    let dropdowns = document.getElementsByClassName("dropdown-content");
                    let i;
                    for (i = 0; i < dropdowns.length; i++) {
                        let openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        </script>
        <% } %>
            <!--USUARIO NAO LOGADO-->
            <% if(!dadosUsuario) { %>
                <div>
                    <button onclick="abreFormLogin()" class="loginLink">Entre/Cadastre-se</button>
                </div>
                <% } %>
    </div>
</header>
<div class="overlay-login"></div>
<div class="modal-login">
    <div class="fecharModal-login" onclick="fechaFormLogin()"><i class="fas fa-times"></i></div>
    <div class="formLogin">

        <div class="logo-login">
            <h1>Estúdio Aires</h1>
        </div>

        <div class="titulo-login">
            Entre no Estúdio
        </div>
        <div class="elemento-login">
            <label for="email">E-mail</label>
            <input type="text" type="email" name="email" id="email" required/>
        </div>

        <div class="elemento-login">
            <label for="senha">Senha</label>
            <input type="password" name="senha" required />
        </div>

        <div class="elemento-login">
            <button type="submit">Entrar</button>
        </div>

        <div class="elemento-login">
            <a href="/recuperarSenha">Esqueceu sua senha?</a>
        </div>

        <div class="elemento-login">
            <a href="/cadastro-usuario">Novo no Estúdio? Cadastre-se</a>
        </div>

    </div>
</div>