<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <!-- Partials Header CSS-->

    <link rel="stylesheet" href="/css/partials/headerAreaRestritaUsuarios.css">


    <!-- CSS páginas-->
    <!-- Usuários -->
    <link rel="stylesheet" href="../css/dashboardUsuarioEMembro_meuPerfil.css">
    <link rel="stylesheet" href="/css/dashboardUsuario_entregaveis.css">
    <link rel="stylesheet" href="/css/dashboardUsuario_solicitacoes.css">
    <link rel="stylesheet" href="/css/DU_recuperacaoSenha.css">
    <link rel="stylesheet" href="../css/dashboardUsuario_alteracaoSenha.css">
    <link rel="stylesheet" href="/css/headerDashUsuario.css">

    <!-- Membros -->
    <link rel="stylesheet" href="../css/dashboardMembro_aprovacoes.css">
    <link rel="stylesheet" href="../css/dashboardMembro_jobsFinalizados.css">
    <link rel="stylesheet" href="../css/dashboardMembro_minhaAgenda.css">
    <link rel="stylesheet" href="/css/cadastroMembro.css">

    <!-- Cadastro -->
    <link rel="stylesheet" href="/css/cadastro.css">
    <link rel="stylesheet" href="/css/emailCadastro.css">

    <!-- Email confirmação de agendamento -->
    <link rel="stylesheet" href="/css/emailConfirmacaoAgendamento.css">

    <!-- Email pagamento -->
    <link rel="stylesheet" href="/css/emailPagamento.css">

    <!-- Página de Contato -->
    <link rel="stylesheet" href="/css/contato.css">

    <!--Página de orçamento com login-->
    <link rel="stylesheet" href="css/orcamento.css">

    <!-- Página de orçamento sem login -->
    <link rel="stylesheet" href="css/orcamentoSLogin.css">

    <!-- Página de serviços -->
    <link rel="stylesheet" href="/css/paginaServico.css">

    <!-- Modais -->
    <link rel="stylesheet" href="/css/modais/cadastro-modal.css">
    <link rel="stylesheet" href="/css/modais/dashboardMembro_modal.css">
    <link rel="stylesheet" href="/css/modais/dashboardUsuario_modal1.css">
    <link rel="stylesheet" href="/css/modais/dashboardUsuario_modal2.css">
    <link rel="stylesheet" href="/css/modais/login-modal.css">

    <!-- Partials -->
    <link rel="stylesheet" href="/css/partials/header.css">
    <link rel="stylesheet" href="/css/partials/headerAreaRestritaUsuarios.css">

    <!-- Datetime picker -->
    <link rel="stylesheet" href="/css/jquery.datetimepicker.min.css">

    <!-- Dúvidas -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/css/geral.css">

</head>