<head>
    <link rel="stylesheet" href="css/cssPartials/headerPrivateAreas.css">
</head>

<header>
    <a id="logo" href="../home.html">Estudio Aires </a>
    <nav>
        <ul>
            <li><a  href="">Contatos</a></li>
            <li><a  href="../dashboardUsuario/dashboardUsuario_solicitacoes.html">Solicitações</a></li>
            <li><a id = "selected" href="TBC">+ Novo Orçamento</a></li>
            
        </ul>
    </nav>
    <div class="usuario">
        <a href="../dashboardUsuario/dashboardUsuario_meuPerfil.html">Nome do usuario 
        <img class= "fotoPerfil" src ="img/header/fotoPerfil.png" alt="Foto usuário">
        </a>
    </div>
</header>