<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <!-- Global -->
    <link rel="stylesheet" href="/css/global.css">

    <!-- Botoes -->
    <link rel="stylesheet" href="/css/botoes.css">

    <!--Font Awesome-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- HeaderAreaLivreSemLogin -->
    <link rel="stylesheet" href="/css/partials/headerAreaLivreSemLogin.css">

    <!-- Home -->
    <link rel="stylesheet" href="/css/home.css">
        <!--Carrosseis da Home-->
        <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
        <script src="/js/splide.js"></script>

    <!-- Galeria de projetos -->
    <link rel="stylesheet" href="/css/projetos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

    <!-- Footer -->
    <link rel="stylesheet" href="/css/partials/footer.css">

    <!-- Dashboard Usuario -->
    <link rel="stylesheet" href="/css/dashboardUsuarioEMembro_alteraDados.css">
    <link rel="stylesheet" href="/css/dashboardUsuarioEMembro_meuPerfil.css">
    <link rel="stylesheet" href="/css/dashboardUsuario_solicitacoes.css">
    
    <!--Cadastro Usuario-->
    <link rel="stylesheet" href="/css/cadastro.css">
</head>