<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estúdio Aires</title>
    <link rel="stylesheet" href="/css/home.css">
   
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
</head>

<header>
    <!--Nav fixo do site-->
    <div class="header-log-nav">
        <div class="logo a"><a href="/" class="ab">Estúdio Aires</a></div>
        <nav>
            <ul class="nav-links">
                <li><a class="ab" href="/">Home
                        <!--Fazer redirect?-->
                    </a></li>
                <li><a class="ab" href="#servicosEA">Serviços</a></li>
                <li><a class="ab" href="#quem-somosEA">Quem Somos</a></li>
                <li><a class="ab" href="#parceirosEA">Parceiros</a></li>
                <li><a class="ab" href="/contato">Contato</a></li>
            </ul>
        </nav>

         <div class="navbar-item">
                    <div class="buttons">
                        <button onclick="document.getElementById('id01').style.display='block'" class="login a"><a
                                href='/login'>Login</a></button>
                    </div>
                    <form method="GET" action="/cadastro-usuario">
                        <div class="container-cadastrese">
                            <span class="header-cadastrese">Novo no Estúdio?
                                <input class="header-cadastrese" type="submit" value="CADASTRE-SE"></input>
                        </div>
                    </form>
                </div>
            


    </div>
</header>
<!-- If para sessao do usuario -->