<header>
    <a id="logo" href="/">Estudio Aires </a>
    <nav>
        <ul>
            <li><a href="/dashboardUsuario/solicitacoes/:idUsuario">Solicitações</a></li>
            <li><a href="/orcamento">+ Novo Orçamento</a></li>
            <li><a href="/contato">Contate-nos</a></li>
        </ul>
    </nav>
    <div class="usuario">
        <a href="/dashboardUsuario/meuPerfil">
            Olá, <%=dadosUsuario.nome%>
        </a>
    </div>
</header>