<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="/css/contato.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <!-- LINKS -->
    <div class="section-contato">
        <div class="info-contato">
            <div class="logo"><a href="/">Estúdio Aires</a></div><!-- LOGO -->
            <div><a href="#"><i class="fas fa-map-marker-alt"></i>kkkkkkkkkkk</a></div>
            <div><a href="#"><i class="fas fa-envelope"></i>kkkkkkkkkkkkkkkk</a></div>
            <div><a href="#"><i class="fas fa-phone"></i>kkkkkkkkkkkk</a></div>
            <div><a href="#"><i class="fas fa-clock"></i>kkkkkkkkkkkkkk</a></div>
        </div>

        <!-- FORMULARIO -->
        <div class="form-contato">
            <h2>Contate-nos</h2>
            <form class="contato" action="/contate" method="POST">
                <input type="text" name="nome" class="text-box" placeholder="Digite seu Nome" required>
                <input type="text" name="email" class="text-box" placeholder="Digite seu E-mail" required>
                <textarea name="mensagem" rows="5" placeholder="Digite sua Mensagem" required></textarea>
                <input type="submit" class="btn-enviar" value="Enviar">
            </form>
        </div>
    </div>
</body>

</html>