<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../css/partials/header.css">  
<%- include partials/head.ejs %>

    <body>
        <%- include partials/headerAreaRestritaMembros.ejs %>
            <main>
                <div class="ordenacao">
                    <div class="cronos">
                        <p>Ordenar por:</p>
                        <select name="ordCronologica" id="ordCronologica" class="dropdown">
                            <option value="mais nova a mais antiga">Mais nova a mais antiga</option>
                            <option value="mais antiga a mais nova">Mais antiga a mais nova</option>
                        </select>
                    </div>
                    <p> Buscar: </p>
                    <input type="text" name="nome">
                </div>

                <!-- for (solicitacao of solicitacoes) { -->
                <div class="containerServico">
                    <div class="containerEsquerda">
                        <div class="servicoContratado1">
                            <h2>Número serviço:
                                <!-- solicitacoes.idSolicitacao%> -->
                            </h2>

                            <div class="info">
                                <p class="tipo1">Endereço:</p>
                                <p>
                                    <!-- solicitacoes.endereco%> -->
                                </p>
                            </div>
                            <div class="info">
                                <p class="tipo1">Valor do serviço:</p>
                                <p>R$
                                    <!--solicitacoes.valorDoServico%>-->
                                </p>
                            </div>
                            <div class="info">
                                <p class="tipo1">Tamanho aproximado do imóvel:</p>
                                <p>
                                    <!-- solicitacoes.tamanhoImovel%> m² -->
                                </p>
                            </div>
                            <div class="data">
                                <p class="tipo1">Data:</p>
                                <p>
                                    <!-- solicitacoes.data%> -->
                                </p>
                            </div>
                        </div>

                        <div class="servicoContratado2">
                            <br>
                            <div class="info">
                                <p class="tipo1">Serviços contratados:</p>
                                <p>
                                    <!-- solicitacoes.servicosContratados -->
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="servicoContratado3">
                        <div class="info">
                            <p class="tipo2"> Informações do (a) cliente </p>
                        </div>
                        <div class="info">
                            <p class="tipo1">Nome:</p>
                            <p>
                                <!-- jobs.nomeCliente -->
                            </p>
                        </div>
                        <div class="info">
                            <p class="tipo1">Email:</p>
                            <p>
                                <!-- jobs.emailCliente -->
                            </p>
                        </div>
                        <div class="info">
                            <p class="tipo1">Telefone:</p>
                            <p>
                                <!-- jobs.telefoneCliente%> -->
                            </p>
                        </div>
                    </div>

                    <div class="botoes">
                        <div class="entregaveis">
                            <p> <a class="botoes-entregaveis-a" href="../dashboardUsuario/dashboardUsuario_entregaveis.html"> Ver entregáveis </a></p>
                        </div>
                    </div>

                </div>
                <!-- }  -->

            </main>
    </body>

</html>