<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/square-logo-lineorange.png">
    <title>Entregáveis</title>
    <link rel="stylesheet" href="/css/dashboardUsuario_entregaveis.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <a id="logo" href="../home.html">Estúdio Aires </a>
    </header>
    
    <main>
        <h2>Selecione os itens que gostaria de baixar:</h2>
        
        <!-- js para selecionar todos os checkboxes -->
        <script language="JavaScript">
            function toggle(source) {
                checkboxes = document.getElementsByName('foo');
                for(var i=0, n=checkboxes.length;i<n;i++) {
                checkboxes[i].checked = source.checked;
                }
            }
        </script>

        <div class="containerEntregaveis">

            <div class="item">
                <input type="checkbox" onClick= "toggle(this)" >
                <div class="nomeZip">
                    <p>Selecionar todos</p>
                </div>
            </div>
            <% for (const entregavel of entregaveis) { %> 
                <div class="item">
                    <input type="checkbox" name="foo">
                    <img class="icone" src="/img/folder.png" alt="Ícone zip">
                    <div class="nomeZip">
                        <p><%=entregavel.nomeArquivo%></p>
                        <p class="bold">Tamanho:</p>
                        <p><%=entregavel.tamanho%></p>
                    </div>
                </div>
            <% } %> 
        </div>
        <button class="tipo1"> Baixar </button>
        <button class="tipo2"> Voltar </button>
    </main>
</body>
</html>