<!DOCTYPE html>
<html lang="en">
    <%- include partials/head.ejs %>
<body>
    <%- include partials/headerAreaRestritaMembros.ejs %>
    <main>
        <div class="ordenacao">
            <div class="cronos">
                <p>Ordenar por:</p>
                <select name="ordCronologica" id="ordCronologica" class="dropdown">
                    <option value="mais nova a mais antiga">Mais nova a mais antiga</option>
                    <option value="mais antiga a mais nova">Mais antiga a mais nova</option>
                </select>
            </div>
            <p> Buscar: </p>
            <input type="text" name="nome">
            <div class="link-calendario"><a href="http://localhost:3000/dashboardMembro/calendario">Ver calendario</a></div>
        </div>

        <div class="containerServico">
            <div class="containerEsquerda">
                <div class="servicoContratado1">
                    <h2>Número serviço: 00002</h2>
                
                    <div class="info">
                        <p class="tipo1">Endereço:</p>
                        <p>Rua X</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Valor do serviço:</p>
                        <p>R$ 500,00</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Tamanho do imóvel:</p>
                        <p>400 m²</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Data do serviço</p>
                        <p>5 de março 2020</p>
                    </div>
                    <div class="info">
                    <p class="tipo1">Valor:</p>
                    <p>R$ 500,00</p>
                    </div>
                </div>
                <div class="servicoContratado2">
                    <br>
                    <div class="info">

                        <p class="tipo1">Serviços contratados:</p>
                            <ul>
                                <li>Fotografia</li>
                                <li>Fotografia 3d</li>
                                <li>Vídeo</li>
                            </ul>
                    </div>
                </div>
                <div class="servicoContratado3">
                    <div class="info">
                        <p class="tipo2"> Informações do (a) cliente </p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Nome:</p>
                        <p>Maria da Silva</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Email:</p>
                        <p>mdasilva@gmail.com</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Telefone:</p>
                        <p>+55 00 00000 0000</p>
                    </div>
                        



                </div>
                        <div class="botoes">
                            <form>
                                <input class = "botoes-2" type="file" multiple="multiple">
                            </form>
                            <div class="botoes-1">
                                <p>Finalizar</p> 
                            </div>
                        </div>


            </div>
            
        </div>
        <div class="containerServico">
            <div class="containerEsquerda">
                <div class="servicoContratado1">
                    <h2>Número serviço: 00002</h2>
                
                    <div class="info">
                        <p class="tipo1">Endereço:</p>
                        <p>Rua X</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Valor do serviço:</p>
                        <p>R$ 500,00</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Tamanho do imóvel:</p>
                        <p>400 m²</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Data do serviço</p>
                        <p>5 de março 2020</p>
                    </div>
                    <div class="info">
                    <p class="tipo1">Valor:</p>
                    <p>R$ 500,00</p>
                    </div>
                </div>
                <div class="servicoContratado2">
                    <br>
                    <div class="info">

                        <p class="tipo1">Serviços contratados:</p>
                            <ul>
                                <li>Fotografia</li>
                                <li>Fotografia 3d</li>
                                <li>Vídeo</li>
                            </ul>
                    </div>
                </div>
                <div class="servicoContratado3">
                    <div class="info">
                        <p class="tipo2"> Informações do (a) cliente </p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Nome:</p>
                        <p>Maria da Silva</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Email:</p>
                        <p>mdasilva@gmail.com</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Telefone:</p>
                        <p>+55 00 00000 0000</p>
                    </div>
                        



                </div>
                        <div class="botoes">
                            <form>
                                <input class = "botoes-2" type="file" multiple="multiple">
                            </form>
                            <div class="botoes-1">
                                <p>Finalizar</p> 
                            </div>
                        </div>


            </div>
            
        </div>
        <div class="containerServico">
            <div class="containerEsquerda">
                <div class="servicoContratado1">
                    <h2>Número serviço: 00002</h2>
                
                    <div class="info">
                        <p class="tipo1">Endereço:</p>
                        <p>Rua X</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Valor do serviço:</p>
                        <p>R$ 500,00</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Tamanho do imóvel:</p>
                        <p>400 m²</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Data do serviço</p>
                        <p>5 de março 2020</p>
                    </div>
                    <div class="info">
                    <p class="tipo1">Valor:</p>
                    <p>R$ 500,00</p>
                    </div>
                </div>
                <div class="servicoContratado2">
                    <br>
                    <div class="info">

                        <p class="tipo1">Serviços contratados:</p>
                            <ul>
                                <li>Fotografia</li>
                                <li>Fotografia 3d</li>
                                <li>Vídeo</li>
                            </ul>
                    </div>
                </div>
                <div class="servicoContratado3">
                    <div class="info">
                        <p class="tipo2"> Informações do (a) cliente </p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Nome:</p>
                        <p>Maria da Silva</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Email:</p>
                        <p>mdasilva@gmail.com</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Telefone:</p>
                        <p>+55 00 00000 0000</p>
                    </div>   
                </div>

                <div class="botoes">
                    <form>
                        <input class = "botoes-2" type="file" multiple="multiple">
                    </form>
                    <div class="botoes-1">
                        <p>Finalizar</p> 
                    </div>
                </div>
                    

            </div>
            
        </div>
    </main>
</body>
</html>