<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Agenda</title>
    <link rel="shortcut icon" href="../images/square-logo-lineorange.png">
    <link rel="stylesheet" href="../css/dashboardMembro_minhaAgenda.css">
    <link rel="stylesheet" href="../css/partials/header.css">
</head>
<body>
    <header>
        <a id="logo" href="/">Estudio Aires </a>
        <nav>
            <ul>
                <li><a href="/dashboardMembro/aprovacoes">Aprovações</a></li>
                <li><a id = "selected" href="/dashboardMembro/minhaAgenda">Minha Agenda</a></li>
                <li><a href="/dashboardMembro/jobsFinalizados">Jobs Finalizados</a></li>
                
            </ul>
        </nav>
        <div class="usuario">
            <div class="usuario-flex"><img class= "fotoPerfil" src ="../images/dashboard_cliente/fotoPerfil.png" alt="Foto usuário"></div>
            <div class="usuario-flex"><a href="/dashboardMembro" >Nome do usuario </a></div>
            
        </div>
    </header>

    <main>
        <div class="containerServico">
            <div class="containerEsquerda">
                <div class="servicoContratado1">
                    <h2>Número serviço: 00002</h2>
                
                    <div class="info">
                        <p class="tipo1">Endereço:</p>
                        <p>Rua X</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Valor do serviço:</p>
                        <p>R$ 500,00</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Tamanho do imóvel:</p>
                        <p>400 m²</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Data do serviço</p>
                        <p>5 de março 2020</p>
                    </div>
                    <div class="info">
                    <p class="tipo1">Valor:</p>
                    <p>R$ 500,00</p>
                    </div>
                </div>
                <div class="servicoContratado2">
                    <br>
                    <div class="info">

                        <p class="tipo1">Serviços contratados:</p>
                            <ul>
                                <li>Fotografia</li>
                                <li>Fotografia 3d</li>
                                <li>Vídeo</li>
                            </ul>
                    </div>
                </div>
                <div class="servicoContratado3">
                    <div class="info">
                        <p class="tipo2"> Informações do (a) cliente </p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Nome:</p>
                        <p>Maria da Silva</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Email:</p>
                        <p>mdasilva@gmail.com</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Telefone:</p>
                        <p>+55 00 00000 0000</p>
                    </div>
                        



                </div>
                        <div class="botoes">
                            <form>
                                <input class = "botoes-2" type="file" multiple="multiple">
                            </form>
                            <div class="botoes-1">
                                <p>Finalizar</p> 
                            </div>
                        </div>


            </div>
            
        </div>

        <div class="containerServico">
            <div class="containerEsquerda">
                <div class="servicoContratado1">
                    <h2>Número serviço: 00002</h2>
                
                    <div class="info">
                        <p class="tipo1">Endereço:</p>
                        <p>Rua X</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Valor do serviço:</p>
                        <p>R$ 500,00</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Tamanho do imóvel:</p>
                        <p>400 m²</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Data do serviço</p>
                        <p>5 de março 2020</p>
                    </div>
                    <div class="info">
                    <p class="tipo1">Valor:</p>
                    <p>R$ 500,00</p>
                    </div>
                </div>
                <div class="servicoContratado2">
                    <br>
                    <div class="info">

                        <p class="tipo1">Serviços contratados:</p>
                            <ul>
                                <li>Fotografia</li>
                                <li>Fotografia 3d</li>
                                <li>Vídeo</li>
                            </ul>
                    </div>
                </div>
                <div class="servicoContratado3">
                    <div class="info">
                        <p class="tipo2"> Informações do (a) cliente </p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Nome:</p>
                        <p>Maria da Silva</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Email:</p>
                        <p>mdasilva@gmail.com</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Telefone:</p>
                        <p>+55 00 00000 0000</p>
                    </div>
                        



                </div>
                        <div class="botoes">
                            <form>
                                <input class = "botoes-2" type="file" multiple="multiple">
                            </form>
                            <div class="botoes-1">
                                <p>Finalizar</p> 
                            </div>
                        </div>


            </div>
            
        </div>
        <div class="containerServico">
            <div class="containerEsquerda">
                <div class="servicoContratado1">
                    <h2>Número serviço: 00002</h2>
                
                    <div class="info">
                        <p class="tipo1">Endereço:</p>
                        <p>Rua X</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Valor do serviço:</p>
                        <p>R$ 500,00</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Tamanho do imóvel:</p>
                        <p>400 m²</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Data do serviço</p>
                        <p>5 de março 2020</p>
                    </div>
                    <div class="info">
                    <p class="tipo1">Valor:</p>
                    <p>R$ 500,00</p>
                    </div>
                </div>
                <div class="servicoContratado2">
                    <br>
                    <div class="info">

                        <p class="tipo1">Serviços contratados:</p>
                            <ul>
                                <li>Fotografia</li>
                                <li>Fotografia 3d</li>
                                <li>Vídeo</li>
                            </ul>
                    </div>
                </div>
                <div class="servicoContratado3">
                    <div class="info">
                        <p class="tipo2"> Informações do (a) cliente </p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Nome:</p>
                        <p>Maria da Silva</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Email:</p>
                        <p>mdasilva@gmail.com</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Telefone:</p>
                        <p>+55 00 00000 0000</p>
                    </div>   
                </div>

                <div class="botoes">
                    <form>
                        <input class = "botoes-2" type="file" multiple="multiple">
                    </form>
                    <div class="botoes-1">
                        <p>Finalizar</p> 
                    </div>
                </div>
                    

            </div>
            
        </div>
    </main>
</body>
</html>