<!DOCTYPE html>
<html lang="pt-br">
<%- include partials/head2.ejs %>

    <body>
        <%- include partials/headerAdminZone.ejs %>
            <div class="login">
                <form class="formLogin" action="/" method="POST">
                    <div class="logo-login">
                        <h1>Dashboard Admin</h1>
                    </div>
                    <div class="elemento-login ">
                        <button><a href='cadastroMembro'>Cadastrar Membro</a></button>
                    </div>

                    <div class="elemento-login ">
                        <button><a href='cadastroMembro'>Ver Membros Cadastrados</a></button>
                    </div>
                    <div class="elemento-login ">
                        <button><a href='cadastroMembro'>Ver Solicitacoes</a></button>
                    </div>

                </form>
            </div>
    </body>