<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/modais/cadastro-modal.css">
    <title>Estúdio Aires</title>
</head>

<body>
    <header>
        <%- include partials/headerAdminZone.ejs %>

    </header>
    <div class="banner-area">
        <div class="banner">
            <video autoplay muted loop>
                <source src="/img/teste.mov" type="video/mp4">
            </video>
        </div>
    </div>

    <form class="" action="admin/logarAdmin" method="POST">
        <div class="login">
            <span class="container-logo">Estúdio Aires</span>
            <span class="container-logo">Acesso Admin</span>

            <input type="text" required placeholder="Email:" maxlength="60" type="email" name="emailAdmin" id="email" />

            <input type="password" placeholder="Senha:" name="senhaAdmin" required />

         

            <button type="submit">ENTRAR</button>


        </div>
    </form>
</body>
