<!DOCTYPE html>
<html lang="pt-br">
<head>


    <script src="https://kit.fontawesome.com/f67cfcbcf9.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastroMembro</title>
   
    <link rel="stylesheet" href="../css/cadastroMembro.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
    <%- include partials/head2.ejs %>
</head>
<body>
    <header>
        <%- include partials/headerAdminZone.ejs %>
    </header>
   

    <div class="login">
        
        <form class="formLogin" action="admin/logarAdmin" method="POST">
      
            <div class="logo-login">
                <h1>Estúdio Aires</h1>
            </div>
      
            <div class="titulo-login">
                Area Restrita Admin
            </div>
            <div class="elemento-login">
                <label for="email">E-mail</label>
                <input type="text" type="email" name="emailAdmin" id="email" required/>
                <!-- <span style="font-size: 15px; color:red; font-weight:bold ;">NEG EJS error.email ? error.email : ''</span> -->
            </div>
      
            <div class="elemento-login">
                <label for="senha">Senha</label>
                <input type="password" name="senhaAdmin" required />
                <!-- <span style="font-size: 15px; color: red; font-weight:bold ;">NEG EJS error.senha ? error.senha : ''</span> -->
            </div>
      
            
      
            <div class="elemento-login">
                <button type="submit">Entrar</button>
            </div>
      
           
      
        </form>
      </div>
</body>
