<!DOCTYPE html>
<html lang="en">
    <%- include partials/head.ejs %>

<head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="../css/DMCalendario.css">

</head>

<body>
    <%- include partials/headerAreaRestritaMembros.ejs %>
    <div class="container1">
      <main>
          <table>
              <summary><strong>February</strong> 2014</summary>
              <thead>
                <tr>
                  <th>Seg</th>
                  <th>Ter</th>
                  <th>Qua</th>
                  <th>Qui</th>
                  <th>Sex</th>
                  <th>Sab</th>
                  <th>Dom</th>
                </tr>
              </thead>
              <tr>
                <td>
                  <span class="date">
                    27
                    <ul>
                      <li>
                        <span class="event">Bus Stop</span>
                        <span class="time">4 pm</span>
                      </li>
                    </ul>  
                  </span>
                </td>
                <td>
                  <span class="date">28</span>
                </td>
                <td>
                  <span class="date">29</span>
                </td>
                <td>
                  <span class="date">30</span>
                </td>
                <td>
                  <span class="date">31</span>
                </td>
                <td class="weekend">
                  <span class="date">February 1</span>
                </td>
                <td class="weekend">
                  <span class="date">
                    2
                    <ul>
                      <li>
                        <span class="event">Super Bowl</span>
                        <span class="time">6:30 pm</span>
                      </li>
                    </ul>  
                  </span>
                </td>
              </tr>
              <tr class="previous-week">
                <td>
                  <span class="date">3</span>
                </td>
                <td>
                  <span class="date">4</span>
                </td>
                <td>
                  <span class="date">5</span>
                </td>
                <td>
                  <span class="date">6</span>
                </td>
                <td>
                  <span class="date">7</span>
                </td>
                <td class="weekend">
                  <span class="date">8</span>
                </td>
                <td class="weekend">
                  <span class="date">9</span>
                </td>
              </tr>
              <tr class="current-week">
                <td>
                  <span class="date">10</span>
                </td>
                <td>
                  <span class="date">11</span>
                </td>
                <td>
                  <span class="date">12</span>
                </td>
                <td>
                  <span class="date">13</span>
                </td>
                <td class="current-day">
                  <span class="date">
                    14
                    <ul>
                      <li class="different-calendar"><span class="event">Valentines Day</span></li>
                    </ul>  
                  </span>
                </td>
                <td class="weekend">
                  <span class="date">15</span>
                </td>
                <td class="weekend">
                  <span class="date">16</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="date">17</span>
                </td>
                <td>
                  <span class="date">18</span>
                </td>
                <td>
                  <span class="date">19</span>
                </td>
                <td>
                  <span class="date">20</span>
                </td>
                <td>
                  <span class="date">21</span>
                </td>
                <td class="weekend">
                  <span class="date">22</span>
                </td>
                <td class="weekend">
                  <span class="date">23</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="date">24</span>
                </td>
                <td>
                  <span class="date">
                    25
                    <ul>
                      <li class="different-calendar">
                        <span class="event">Breakfast with Joe Smchoe The Baker Man</span>
                        <span class="time">10 am</span>
                      </li>
                      <li>
                        <span class="event">Code Review</span>
                        <span class="time">Noon</span>
                      </li>
                      <li>
                        <span class="event">Project X Kickoff</span>
                        <span class="time">5 pm</span>
                      </li>
                    </ul>  
                  </span>
                </td>
                <td>
                  <span class="date">26</span>
                </td>
                <td>
                  <span class="date">27</span>
                </td>
                <td>
                  <span class="date">28</span>
                </td>
                <td class="weekend">
                  <span class="date">March 1</span>
                </td>
                <td class="weekend">
                  <span class="date">2</span>
                </td>
              </tr>
            </table>
      </main>
    </div>
</body>
</html>