<!DOCTYPE html>
<html lang="en">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/jquery.datetimepicker.min.css">


<body>


  <form method="POST" action="calendario" id="bloqueioCalendario">
    <h4>Selecione o período que deseja bloquear:</h4>
    <div class="container mt-5 mb-5" style="width: 400px;">
      <h4>Data de início:</h4>
      <input type="text" id="picker1" name="horarioInicio" class="form-control">
      <h4>Horário de início:</h4>
      <input type="text" id="picker2" name="horarioFinal" class="form-control">
      <h4>Data de finalização:</h4>
      <input type="text" id="picker3" name="horarioInicio" class="form-control">
      <h4>Horário de finalização:</h4>
      <input type="text" id="picker4" name="horarioFinal" class="form-control">
    </div>
    <button class="btn btn-lg btn-primary">Bloquear calendario</button>
  </form>

  <!-- script datepicker -->

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="	https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="../js/jquery.datetimepicker.full.min.js"></script>

  <script>

    jQuery.datetimepicker.setLocale('pt-BR')

    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    var horariosBloqueados = horariosBloqueados

    console.log(horariosBloqueados)

    $('#picker1').datetimepicker({
      timepicker: false,
      datepicker: true,
      format: 'Y-m-d',
      yearStart: 2021,
      yearEnd: 2022,
      step: 30,
      mask: true,
      lang: 'pt-BR',
      il8n: {
        month: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
        dayOfWeek: ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo']
      },
      minDate: today,
    }),
      $('#picker2').datetimepicker({
        timepicker: true,
        datepicker: false,
        format: 'H:i',
        yearStart: 2021,
        yearEnd: 2022,
        step: 30,
        mask: true,
        lang: 'pt-BR',
        il8n: {
          month: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
          dayOfWeek: ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo']
        },
        minDate: today,
        
      })
    $('#picker3').datetimepicker({
      timepicker: false,
      datepicker: true,
      format: 'Y-m-d',
      yearStart: 2021,
      yearEnd: 2022,
      step: 30,
      mask: true,
      lang: 'pt-BR',
      il8n: {
        month: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
        dayOfWeek: ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo']
      },
      minDate: today,
    }),
      $('#picker4').datetimepicker({
        timepicker: true,
        datepicker: false,
        format: 'H:i',
        yearStart: 2021,
        yearEnd: 2022,
        step: 30,
        mask: true,
        lang: 'pt-BR',
        il8n: {
          month: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
          dayOfWeek: ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo']
        },
        minDate: today,
        
      })

  </script>

</body>

</html>