<!DOCTYPE html>
<html lang="pt-br">
<%- include partials/head.ejs %>

    <body>
        <%- include partials/headerAreaRestritaUsuarios.ejs %>
            <main>
                <div class="du-meuPerfil-info">
                    <h1>Alteração de senha</h1>

                    <form action="/dashboardUsuario/alterandoSenha" method="POST">
                        <div class="du-meuPerfil-info-secao">
                            <img class="du-meuPerfil-info-secao-icone" src="/img/key.png" alt="ícone chave">
                            <div>
                                <p class="du-meuPerfil-info-secao-titulo">Senha antiga</p>
                                <input class="du-meuPerfil-info-secao-formulario" type="password" name="senhaAntiga">
                            </div>
                        </div>
                        <div class="du-meuPerfil-info-secao">
                            <img class="du-meuPerfil-info-secao-icone" src="/img/key.png" alt="ícone chave">
                            <div>
                                <p class="du-meuPerfil-info-secao-titulo">Senha nova</p>
                                <input class="du-meuPerfil-info-secao-formulario" type="password" name="senhaNova">
                            </div>
                        </div>
                        <div class="du-meuPerfil-info-secao">
                            <img class="du-meuPerfil-info-secao-icone" src="/img/key.png" alt="ícone chave">
                            <div>
                                <p class="du-meuPerfil-info-secao-titulo">Confirme senha nova</p>
                                <input class="du-meuPerfil-info-secao-formulario" type="password" name="senhaNova2">
                            </div>
                        </div>
                        <div class="du-meuPerfil-info-botao">
                            <input type="submit" value="Atualizar Senha">
                        </div>
                        <div class="du-meuPerfil-info-botao2">
                            <a href="/dashboardUsuario/meuPerfil"> Voltar </a>
                        </div>
                    </form>
                </div>
            </main>

            <%- include partials/footer.ejs %>

    </body>

</html>