<!DOCTYPE html>
<html lang="pt-br">
<%- include partials/head2.ejs %>

    <body>
        <%- include partials/headerAreaRestritaUsuarios.ejs %>
            <main>
                <section class="duInfo">
                    <h1>Alteração de senha</h1>

                    <form action="/dashboardUsuario/alterandoSenha" method="POST">
                        <div class="duInfo__secao">
                            <img class="duInfo__secao--icone" src="./img/key.png" alt="ícone chave">
                            <div>
                                <p class="duInfo__secao--titulo">Senha antiga</p>
                                <input class="duInfo__secao--formulario" type="password" name="senhaAntiga">
                            </div>
                        </div>
                        <div class="duInfo__secao">
                            <img class="duInfo__secao--icone" src="/img/key.png" alt="ícone chave">
                            <div>
                                <p class="duInfo__secao--titulo">Senha nova</p>
                                <input class="duInfo__secao--formulario" type="password" name="senhaNova">
                            </div>
                        </div>
                        <div class="duInfo__secao">
                            <img class="duInfo__secao--icone" src="/img/key.png" alt="ícone chave">
                            <div>
                                <p class="duInfo__secao--titulo">Confirme senha nova</p>
                                <input class="duInfo__secao--formulario" type="password" name="senhaNova2">
                            </div>
                        </div>
                        <div class="botoes du-meuPerfil-info-botao">
                            <input type="submit" value="Atualizar Senha" class="botao-1">
                        </div>
                        <div class="botoes du-meuPerfil-info-botao2">
                            <a class="botao-2" href="/dashboardUsuario/meuPerfil"> Voltar </a>
                        </div>
                    </form>
                </section>
            </main>
            <%- include partials/footer.ejs %>
    </body>

</html>