<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/DU_recuperacaoSenha.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/square-logo-lineorange.png">
    <link rel="stylesheet" href="../css/header.css">
    <title>Recuperação Senha</title>
    <link rel="stylesheet" href="../css/footerGeral.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
<!-- importar header e footer -->

    <main>
        <div class="du-meuPerfil-info">
            <h1>Meu Perfil</h1>
            <img class="du-meuPerfil-info-fotoPerfil" src="../images/dashboard_cliente/fotoPerfil.png" alt="foto do perfil">
            <div class="du-meuPerfil-info-secao">
                <img class="du-meuPerfil-info-secao-icone" src="../images/dashboard_cliente/user.png" alt="ícone usuario">
                <div>
                    <p class="du-meuPerfil-info-secao-titulo">Nome</p>
                    <p>Manu Chao </p>
                </div>
            </div>
            <div class="du-meuPerfil-info-secao">
                <img class="du-meuPerfil-info-secao-icone" src="../images/icons/icone_email.png" alt="ícone email">
                <div>
                    <p class="du-meuPerfil-info-secao-titulo">Email</p>
                    <p>manu.chao@gmail.com </p>
                </div>
            </div>
            <div class="du-meuPerfil-info-secao">
                <img class="du-meuPerfil-info-secao-icone" src="../images/dashboard_cliente/driver-license.png" alt="ícone documento">
                <div>
                    <p class="du-meuPerfil-info-secao-titulo">CPF / CNPJ</p>
                    <p> 000.000.000-00 </p>
                </div>
            </div>
            <div class="du-meuPerfil-info-secao">
                <img class="du-meuPerfil-info-secao-icone" src="../images/dashboard_cliente/phone.png" alt="ícone telefone">
                <div>
                    <p class="du-meuPerfil-info-secao-titulo">Telefone</p>
                    <p> (59) 98877 6655 </p>
                </div>
            </div>
            <div class="du-meuPerfil-info-secao">
                <img class="du-meuPerfil-info-secao-icone" src="../images/dashboard_cliente/calendar.png" alt="ícone calendario">
                <div>
                    <p class="du-meuPerfil-info-secao-titulo">Data de nascimento</p>
                    <p> 01/01/1990</p>
                </div>
            </div>
            <div class="du-meuPerfil-info-botao">
                <a href="TBC"> Alterar dados </a>
            </div>
            <p class="du-meuPerfil-info-rodape">Precisa alterar sua senha? <a href="dashboardUsuario_alteracaoSenha.html">Clique aqui</a></p>
        </div>
    </main>


</body>
</html>