<!DOCTYPE html>
<html lang="en">
<%- include partials/headerAreaLivreSemLogin.ejs %>

<body>
    <%- include partials/head2.ejs %>


        <main>
            <div id='pai-flex'>
                <div id="container-recuperar-senha">
                    
                    <div id="recuperar-senha">
                        <div id= 'titulo'>
                            <h3>Esqueceu a senha?</h3>
                        </div>
                        
                        
                        <form id='teste' action="/receberEmail" method="POST">
                            <div id="recuperar-senha-secao">
                                
                                <div>
                                    <p id="recuperar-senha-secao-titulo">Insira abaixo o seu email cadastrado para que
                                        possamos
                                        te ajudar a recuperar a senha</p>
                                    <input name="email" id="recuperar-senha-secao-input" type="email"
                                        placeholder="exemplo@mail.com">
                                </div>
                            </div>
                            <div id="recuperar-senha-botao">
                                <button id="enviar" type="submit">Recuperar Dados</button>
                            </div>
                            <div id="recuperar-senha-botao-2">
                                <a href="/">Voltar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>


</body>

</html>