<!DOCTYPE html>
<html lang="en" class ='backGroundImage'>

<head>
    <link rel='stylesheet' href="/css/landing.css">
    <link rel="stylesheet" href="/css/partials/headerAreaLivreSemLogin.css">
    <link rel="stylesheet" href="/css/partials/footer.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conteúdo</title>


</head>

<body class='body'>
    <div class = 'contentLimit'>
        <h1 class = 'containerConteudo'>
            Quer engajar seu cliente a partir dos seus anúnucios e apresentar imóveis que realmente casem com o perfil
            do seu público?
        </h1>
        <h2 class = 'containerConteudo'>
            Então <a href='/conteudo' class ='link'>clique aqui</a> para saber mais sobre táticas de atração e engajamento no Digital, junto ao Estúdio Aires de fotografia imobiliária

        </h2>
        <h2 class = 'containerConteudo'>
            Aumente sua assertividade na hora de anunciar! 
            Entenda o perfil do seu consumidor, 
            fazendo com que ele realmente conheça o imóvel antes mesmo de realizar uma visita presencial.


        </h2>
    </div>

</body>

</html>