<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/modais/login-modal.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../footer/footerGeral.css">
    <!--<link rel="stylesheet" href="./modal-galley.css">-->
    <link rel="stylesheet" href="../login-modal/login-modal.css">
    <link rel="shortcut icon" href="images/square-logo-lineorange.png">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Estúdio Aires</title>
</head>

<body>
    <header>
        <%- include partials/headerAreaLivreSemLogin.ejs %> 
            
    </header>
    <div class="banner-area">
        <div class="banner">
            <video autoplay muted loop>
                <source src="/img/teste.mov" type="video/mp4">
            </video>
        </div>
    </div>

    <form class="modal-content animate" action="/login" method="POST">
        <div class="container-login">
            <span class="container-logo">Estúdio Aires</span>
            <span style="font-size: 16rem; color:black; font-weight:bold ;"><%= error.email ? error.email : '' %></span>
            <span style="font-size: 16rem; color: red; font-weight:bold ;"><%= error.senha ? error.senha : '' %></span>

            <input
             type="text" 
             required placeholder="Email" 
             maxlength="60" 
             type="email"
             name="email"
             id="email"
             />

            <input
            type="password"
            placeholder="Senha" 
            name="senha" 
            required
            />
            
            <form action="/recuperarSenha" method="GET">
                <span class="psw-forget"><a href="/recuperarSenha">Esqueceu sua senha? </a></span>
            </form>
            
            <button type="submit">ENTRAR</button>

            <div class="icons-login">
                <a href=""><img src="img/botao-google.png" alt=""> </a>
                <a href=""><img src="img/botao-facebook.png" alt=""> </a>
            </div>

            <div class="modal-cadastro">
                <span class="psw">Novo no Estúdio? <a href="/cadastro-usuario">CADASTRE-SE</a></span>
            </div>
        </div>
    </form>
</body>

</html>