<html>
<%- include partials/head2.ejs %>

    <body>
        <%- include partials/headerAreaLivreSemLogin %>
            <form class="" action="/login" method="POST">
                <div class="login">
                    <div class="container-logo">Estúdio Aires</div>
                    <span style="font-size: 15px; color:red; font-weight:bold ;"><%= error.email ? error.email : '' %></span>
                    <span style="font-size: 15px; color: red; font-weight:bold ;"><%= error.senha ? error.senha : '' %></span>
                </div>
            </form>
    </body>

</html>