<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/modais/login-modal.css">
        <link rel="stylesheet" href="../css/home.css">
        <link rel="stylesheet" href="../footer/footerGeral.css">
        <!--<link rel="stylesheet" href="./modal-galley.css">-->
        <link rel="stylesheet" href="../login-modal/login-modal.css">
        <link rel="shortcut icon" href="images/square-logo-lineorange.png">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        <title>Estúdio Aires</title>
    </head>

    <body>
         <header><!--Nav fixo do site-->
               <div class="header-log-nav"> 
                <div class="logo"><a href="#">Estúdio Aires</a></div>
                    <nav><!--menu do site-->
                        <ul class="nav-links">
                            <li><a href="#">Home</a></li>
                            <li><a href="#servicosEA">Serviços</a></li>
                            <li><a href="#quem-somosEA">Quem Somos</a></li>
                            <li><a href="#parceirosEA">Parceiros</a></li>
                            <li><a href="#">Contato</a></li>
                        </ul>
                    </nav>
                  <!--   <a href="login.html" class="login"><button>Login</button></a> -->
                  <button onclick="document.getElementById('id01').style.display='block'" class="login">Login</button>
                  <div class="container-cadastrese">
                    <span class="header-cadastrese">Novo no Estúdio?                        
                        <a href="./cadastro-new-users/cadastro.html">CADASTRE-SE</a></span>
                    </div> 
                            

                </div>
               
         </header>
                

              <!-- Modal-Login -->
        <div id="id01" class="modal">
            <span onclick="document.getElementById('id01').style.display='none'"class="close" title="Close Modal">&times;</span>
        <form class="modal-content animate" action="">
     
            <div class="container-login">
                <span class="container-logo">Estúdio Aires</span>
                <!-- label for="uname"><b>E-mail:</b></label> -->
                <input type="text" placeholder="E-mail cadastrado:" required placeholder="Email" maxlength="60" type="email" name="email" id="email">
              <!--<label for="psw"><b>Senha:</b></label> -->
                <input type="password" placeholder="Senha:" name="psw" required>
                <span class="psw-forget"><a href="#">Esqueceu sua senha? </a></span>
                <button type="submit"><a href="./dashboardUsuario/dashboardUsuario_solicitacoes.html">ENTRAR</a></button>
  
                <div class="icons-login">
                    <a href=""><img src="images/icons/botao-google.png" alt=""> </a>
                    <a href=""><img src="images/icons/botao-facebook.png" alt=""> </a>
                </div>  
  
                <div class="modal-cadastro">
                    <span class="psw">Novo no Estúdio? <a href="./cadastro-new-users/cadastro.html">CADASTRE-SE</a></span>
                </div>  
            </div>
        </form>
        </div>
           

      

                <!-- início da sessão de portfólio -->
                <div id="portfolio">
                        <div class="portfolioProjeto">
                            <img class="portfolioProjeto-1-image" src="../images/home/projeto1.png" alt="Imagem ilustrativa do projeto.">
                            <div class="image-overlay">
                                <div class="image-overlayTitle">Projeto 1</div>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                                <p><a href="#">Saiba Mais<img src="../images/home/arrow_right_hover.png" alt="Botão de link"></a></p>
                                <button><a class="image-overlay--link" href="../orcamento-agendamento/orcamento.html">Peça um Orçamento</a></button>
                            </div>
                        </div>

                        <div class="portfolioProjeto">
                            <img src="../images/home/projeto2.png" alt="Imagem ilustrativa do projeto.">
                            <div class="image-overlay">
                                <div class="image-overlayTitle">Projeto 2</div>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                                <p><a href="#">Saiba Mais<img src="../images/home/arrow_right_hover.png" alt="Botão de link"></a></p>
                                <button><a class="image-overlay--link" href="./orcamento-agendamento/orcamento.html">Peça um Orçamento</a></button>
                            </div>
                        </div>

                        <div class="portfolioProjeto">
                            <img src="../images/home/projeto3.png" alt="Imagem ilustrativa do projeto.">
                            <div class="image-overlay">
                                <div class="image-overlayTitle">Projeto 3</div>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                                <p><a href="#">Saiba Mais<img src="../images/home/arrow_right_hover.png" alt="Botão de link"></a></p>
                                <button><a class="image-overlay--link" href="./orcamento-agendamento/orcamento.html">Peça um Orçamento</a></button>
                            </div>
                        </div>

                        <div class="portfolioProjeto">
                            <img src="../images/home/projeto4.png" alt="Imagem ilustrativa do projeto.">
                            <div class="image-overlay">
                                <div class="image-overlayTitle">Projeto 4</div>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                                <p><a href="#">Saiba Mais<img src="../images/home/arrow_right_hover.png" alt="Botão de link"></a></p>
                                <button><a class="image-overlay--link" href="./orcamento-agendamento/orcamento.html">Peça um Orçamento</a></button>
                            </div>
                        </div>
                        
                      
                </div>
            </div>

            <!-- modal gallery  -->

            <div class="modalCadastro">
            
               
                    <div class="w3-container">
                        
                        <div class="row">
                           
                            <div class="column">
                              <img src="../images/home/projeto1.png">
                            </div>
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <div class="column-pai">
                                    <div   div class="column-2">
                                    <img src="../images/home/projeto2.png">
                                    </div>
                                    <div class="column-2">
                                    <img src="../images/home/projeto3.png">
                                    </div>
                                    <div class="column-2">
                                    <img src="../images/home/projeto4.png">
                                    </div>

                            </div>
                    </div>
            </div>/div>


            </div>
                          
                          <!-- The Modal/Lightbox -->
                          
                          
                              <!-- Next/previous controls -->
                            <!--   <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                              <a class="next" onclick="plusSlides(1)">&#10095;</a> -->
                          
                              <!-- Caption text -->
                        
                      
                             

           

        

            

        </main>
       
    </body>
</html>
