<!DOCTYPE html>
<html lang="pt-br">



<head>
    <%- include partials/head2.ejs %>
        <link rel="stylesheet" href="/public/css/orcamentoSLogin.css">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">  -->
        <link rel="stylesheet" href="/css/jquery.datetimepicker.min.css">
</head>






<body>

    <div>
        <% if(!dadosUsuario) { %>
            <%- include partials/headerAreaLivreSemLoginOrca.ejs %>
                <% } %>
    </div>

    <main class='main'>


        <section class='card-login-orcamento'>
            <div class="container-orcamento">

                <div class="menu-lateral-orcamento">
                    <div class="title-orcamento">
                        <p>Orçamentos e Agendamentos</p>
                    </div>

                    <div class="step-orcamento">
                        <p>Informe o endereço onde serão realizadas as fotos</p>
                        <div class="bolinhas-orcamento">
                            <div class="bolaOk-orcamento"> 1 </div>
                        </div>
                    </div>

                    <div class="step-orcamento">
                        <p>Selecione os tipos de serviços</a>
                        </p>
                        <div class="bolinhas-orcamento">
                            <div class="bolaOk-orcamento"> 2 </div>
                        </div>
                    </div>

                    <div class="step-orcamento">
                        <p>Detalhes do serviço </p>
                        <div class="bolinhas-orcamento">
                            <div class="bolaOk-orcamento"> 3 </div>
                        </div>

                    </div>
                    <div class="step-orcamento">
                        <p>Datas para a sessão </p>
                        <div class="bolinhas-orcamento">
                            <div class="bolaOk-orcamento"> 4 </div>
                        </div>

                    </div>
                    <div class="step-orcamento">
                        <p>Pagamento </p>
                        <div class="bolinhas-orcamento">
                            <div class="bolaOk-orcamento"> 5 </div>
                        </div>

                    </div>


                </div>
            </div>

            <!-- 
        <div class="acao-central-orcamento"> passo a substituir a div pelo form-->

            <form action="" id="acao-central-orcamento">

                <div class="title-orcamento">
                    <p>Preencha as informacoes abaixo</p>
                </div>

                <!--  /*STEP1*/ -->
                <div class="tab-orcamento">
                    <h4>Informe o endereço onde serao realizadas as fotos:</h4>
                    <p>Endereço:<input required name="endereco"
                            placeholder="Preencha com o endereço onde serão realizadas as fotos" maxlength="250"
                            oninput="this.className = ''"></p>

                    <p>Informe o CEP:<input required name="cep" placeholder="Informe o CEP:"
                            oninput="this.className = ''"></p>

                    <p>Informe o tamanho do imovel:<input required name="tamanhoImovel" type="number"
                            placeholder="Informe o tamanho do imóvel em m2" oninput="this.className = ''"
                            id='tamanhoImovel'></p>
                </div>


                <!--  /*STEP2*/ -->

                <div class="tab-orcamento">
                    <h4>Selecione os tipos de serviço:</h4>
                    <ul class="listado-orcamento">
                        <li><input value="fotografia" type="checkbox" name="servico"
                                oninput="this.className = ''">Fotografia</li>
                        <li><input value="fotografia3603d" type="checkbox" name="servico"
                                oninput="this.className = ''">Fotografia
                            360 3D</li>
                        <li><input value="videoDinamico" type="checkbox" name="servico"
                                oninput="this.className = ''">Video
                            dinamico</li>
                        <li><input value="imagensAereas" type="checkbox" name="servico"
                                oninput="this.className = ''">Imagens
                            Aéreas</li>

                    </ul>

                    <div class="container-orcamento2">
                        <div class="valor-orcamento">
                            Valor do seu orçamento:
                            <div id="valorOrcamento">

                            </div>


                        </div>


                    </div>
                </div>
                <!--  /*STEP3*/ -->
                <div class="tab-orcamento">
                    <h4>Algum responsável irá receber o prestador? Se sim, por favor informe o nome
                        da
                        pessoa:
                    </h4>
                    <p>Nome do Responsável: <input required name="nomeContato" placeholder="Nome do Responsável"
                            oninput="this.className = ''">
                    <p>Telefone do Responsável: <input required name="telefoneContato"
                            placeholder="Telefone do Responsável" oninput="this.className = ''">
                    <p>Informe se há detalhes adicionais sobre o servico a ser prestado</p>
                    <p>Detalhes: <input name="detalhes" placeholder="Detalhes:" oninput="this.className = ''">

                    <p>ATENÇÃO! Caso não haja quem receber o prestador, por favor entrar em contato
                        com
                        o
                        prestador para detalhar as informações.</p>


                </div>
                <!--  /*STEP4*/ -->

                <div class="tab-orcamento">
                    <div class="container mt-5 mb-5" style="width: 400px;"></div>
                    <h4>Selecione a data:</h4>
                    <input type="text" id="picker1" name="dataInicio" class="form-control" autocomplete="off">
                    <p id="erro-disponibilidade"></p>
                </div>
                <div class="fake-tab-orcamento" id="horario">
                    <div class="container mt-5 mb-5" style="width: 400px;"></div>
                    <h4>Selecione um horário:</h4>
                    <input type="text" id="picker2" name="horarioInicio" class="form-control" autocomplete="off">
                    <ul id="resultados">

                    </ul>
                </div>

                <!--  /*STEP5*/ -->

                <div class="tab-orcamento">

                    <select class="usu-input-Tipo-2" placeholder="Escolha a forma de Pagamento:" name="pagamento"
                        id="pagamento">
                        <option value="Como nos conheceu?">Escolha a forma de Pagamento:</option>
                        <option value="Pix">PIX</option>
                        <option value="TransfBanc">Transferencia Bancária</option>
                        <option value="Boleto">Boleto</option>
                        <option value="PagSeguro">PagSeguro</option>

                    </select>

                </div>
                <div class="tab-orcamento">
                    <div class="icon-confirm-orcamento">
                        <h4>Solicitação enviada com sucesso!</h4>

                        <img src="/img/Vector.png" alt="">

                        <h5>Para obter mais informações a respeito do seu agendamento acesse sua
                            área
                            restrita.
                        </h5>

                    </div>
                </div>

                <!-- BOTOES DE CONTINUAR E VOLTAR -->

                <div class="button-submit">
                    <input type="button" id="prevBtn" onclick="nextPrev(-1)" class="botao-2" value="Voltar"></input>
                    <input type="button" id="nextBtn" onclick="nextPrev(1)" class="botao-1" value="Confirmar"></input>
                    <input type="button" id="check-disponibilidade" class="botao-1"
                        value="Checar disponibilidade"></input>
                    <input type="button" id="nextBtn2" onclick="abreFormLogin()" class="botao-1"
                        value="Enviar solicitação">


                    </input>
                </div>
                </div>
                <!--   <div class="button-submit">
                            <input type = 'submit' class= 'submit' value ='Enviar solicitação'>
                        </div> -->
            </form>
            </div>

            </div>
        </section>
    </main>


    <script type="text/javascript" src="/js/orcamento.js"></script>

    <script>
        let checkboxes = document.getElementsByName('servico')


        checkboxes.forEach(function (item) {
            item.onchange = function (e) {
                let checkBoxesChecados = Array.from(checkboxes).filter(function (checkbox) {
                    return (checkbox.checked)
                })
                //console.log(checkBoxesChecados)
                let servicos = checkBoxesChecados.map(function (checkbox) {
                    return checkbox.value
                })
                let tamanho = document.querySelector('#tamanhoImovel').value // aqui posso usar o getElementsByName, mas usando dessa forma eu preciso especificar o index pois ele retorna um array

                calculaOrcamentoFront(servicos, tamanho)


            }


        })


        function calculaOrcamentoFront(services) {
            let tamanho = document.querySelector('#tamanhoImovel').value
            let result = (services.length * 0.2 + 0.8) * tamanho
            result3 = new Intl.NumberFormat('pt-BR', { maximumSignificantDigits: 6 }).format(result)

            document.getElementById('valorOrcamento').innerText = 'R$'+ result3


            return result3

        }



    </script>

    <!-- script datepicker -->
    <script src="/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="	https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../js/jquery.datetimepicker.full.min.js"></script>

    <script>
        jQuery.datetimepicker.setLocale('pt-BR')

        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        var horariosBloqueados = JSON.parse('<%-horariosBloqueados%>')
        //para usar no front
        console.log(JSON.parse('<%-horariosBloqueados%>'))

        $('#picker1').datetimepicker({
            timepicker: false,
            datepicker: true,
            format: 'Y-m-d',
            yearStart: 2021,
            yearEnd: 2022,
            step: 30,
            mask: true,
            lang: 'pt-BR',
            il8n: {
                month: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                dayOfWeek: ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo']
            },
            minDate: today,
        })

    </script>



</body>

</html>