<!DOCTYPE html>
<html lang="pt-br">
<%- include partials/head.ejs %>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/jquery.datetimepicker.min.css">

    <body>
        <%- include partials/headerAreaLivreSemLogin.ejs %>
            <main>
                <section class='card-login'>
                    <div class="container">

                        <div class="menu-lateral">
                            <div class="title">
                                <p>Orçamentos e Agendamentos</p>
                            </div>

                            <div class="step">
                                <p>Informe o endereço onde serão realizadas as fotos</p>
                                <div class="bolinhas">
                                    <div class="bolaOk"> 1 </div>
                                </div>
                            </div>

                            <div class="step">
                                <p>Selecione os tipos de serviços</a>
                                </p>
                                <div class="bolinhas">
                                    <div class="bolaOk"> 2 </div>
                                </div>
                            </div>

                            <div class="step">
                                <p>Detalhes do serviço </p>
                                <div class="bolinhas">
                                    <div class="bolaOk"> 3 </div>
                                </div>

                            </div>
                            <div class="step">
                                <p>Datas para a sessão </p>
                                <div class="bolinhas">
                                    <div class="bolaOk"> 4 </div>
                                </div>

                            </div>
                            <div class="step">
                                <p>Pagamento </p>
                                <div class="bolinhas">
                                    <div class="bolaOk"> 5 </div>
                                </div>

                            </div>


                        </div>
                    </div>

                    <!-- 
        <div class="acao-central"> passo a substituir a div pelo form-->

                    <form method="POST" action="orcamento/novo" id="acao-central">

                        <div class="title">
                            <p>Preencha as informacoes abaixo</p>
                        </div>

                        <!--  /*STEP1*/ -->
                        <div class="tab">
                            <h4>Informe o endereço onde serao realizadas as fotos:</h4>
                            <p>Endereço:<input name="endereco"
                                    placeholder="Preencha com o endereço onde serão realizadas as fotos" maxlength="250"
                                    oninput="this.className = ''"></p>
                            <p>Informe o CEP:<input name="CEP" placeholder="Informe o CEP:"
                                    oninput="this.className = ''"></p>
                            <p>Informe o tamanho do imovel:<input name="MedidaImovel"
                                    placeholder="Informe o tamanho do imóvel em m2" oninput="this.className = ''"></p>
                        </div>


                        <!--  /*STEP2*/ -->

                        <div class="tab">
                            <h4>Selecione os tipos de serviço:</h4>
                            <ul class="listado">
                                <li><input type="radio" name="Fotografia" oninput="this.className = ''">Fotografia</li>
                                <li><input type="radio" name="Fotografia3603d" oninput="this.className = ''">Fotografia
                                    360 3D</li>
                                <li><input type="radio" name="VideoDinamico" oninput="this.className = ''">Video
                                    dinamico</li>
                                <li><input type="radio" name="ImagensAereas" oninput="this.className = ''">Imagens
                                    Aéreas</li>

                            </ul>
                            <div class="valor-orcamento">
                                <p>Valor do seu orçamento:</p>

                                <div class="valor-orcamento preco">
                                    <p>$ Valor</p>
                                </div>

                            </div>
                        </div>
                        <!--  /*STEP3*/ -->
                        <div class="tab">
                            <h4>Algum resposável irá receber o prestador? Se sim, por favor informe o nome da pessoa:
                            </h4>
                            <p>Nome do Responsável: <input name="NomeDoResponsavel" placeholder="Nome do Responsável"
                                    oninput="this.className = ''">
                            <p>Informe se há detalhes adicionais sobre o servico a ser prestado</p>
                            <p>Detalhes: <input name="detalhes" placeholder="Detalhes:" oninput="this.className = ''">

                            <p>ATENÇÃO! Caso não haja quem receber o prestador, por favor entrar em contato com o
                                prestador para detalhar as informações.</p>


                        </div>
                        <!--  /*STEP4*/ -->

                        <div class="tab">
                            <h4>Por favor, selecione a data:</h4>
                            <div class="container mt-5 mb-5" style="width: 400px;">
                              <input type="text" id="picker" class="form-control">
                            </div>
                        </div>

                        </div>
                        <div class="tab">
                            <h4>Escolha a forma de pagamento:</h4>
                            <ul class="listado">
                                <li><input type="radio" name="pagamentoPix" oninput="this.className = ''">PIX</li>
                                <li><input type="radio" name="pagamentoTransf"
                                        oninput="this.className = ''">Transferencia Bancária</li>
                                <li><input type="radio" name="pagamentoBoleto" oninput="this.className = ''">Boleto</li>
                                <li><input type="radio" name="pagamentoPagSeg" oninput="this.className = ''">PagSeguro
                                </li>
                            </ul>
                        </div>
                        <div class="tab">
                            <div class="icon-confirm">
                                <h4>Solicitação enviada com sucesso!</h4>

                                <img src="/img/Vector.png" alt="">

                                <h5>Para obter mais informações a respeito do seu agendamento acesse sua área restrita.
                                </h5>

                            </div>
                        </div>





                        <!-- BOTOES DE CONTINUAR E VOLTAR -->

                        <div class="button-submit">
                            <input type="button" id="prevBtn" onclick="nextPrev(-1)" value="VOLTAR"></input>
                            <input type="button" id="nextBtn" onclick="nextPrev(1)" value="CONFIRMAR"></input>

                        </div>
                        </div>
                    </form>
                    </div>

                    </div>
                </section>
            </main>


            <script type="text/javascript" src="js/orcamento.js"></script>

             <!-- script datepicker -->

            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="	https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <script src="../js/jquery.datetimepicker.full.min.js"></script>
        
            <script>
          
              jQuery.datetimepicker.setLocale('pt-BR')
          
              var date = new Date();
              var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
              var horariosOcupados = ['2021-8-1']
            

              $('#picker').datetimepicker({
                timepicker: true,
                datepicker: true,
                format: 'd-m-Y H:i',
                yearStart: 2021,
                yearEnd: 2022,
                mask: true,
                lang: 'pt-BR',
                il8n: {
                  month: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                  dayOfWeek: ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo']
                },
                minDate: today,
                allowTimes: ['8:00', '10:00', '14:00', '16:00'],
                disabledDates: horariosOcupados
                // adicionar disable para os horários ocupados
          
              })
            </script>

    </body>

</html>