/**@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');  
  
body {
    background-image: url("body-backgrounds/bg-opacity.png");
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    
  
}

header{
    background: rgba(0, 0, 0, .2);
    width: 100%;
    height: 18vh;
    display: flex;
   
    align-items: center;
    position:sticky;
    top:0;
    left: 0;
    margin:0;
   
  
}
.logo {
    margin-left: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #edf0f1;
    text-decoration: none;

}


main{
    text-align: center;
}



.card-login{
    display: inline-block;
    width: 960px;
    height: 700px;  
    mix-blend-mode: normal;
    border: 2.8px solid #FC7600;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.50));
    border-radius: 18px;
    background-color:  rgba(253, 253, 253, 0.7);
    text-align: center;
    margin-top: 50px;
    
}
.container-01{
    
    width: 100px;
    height: 42px;
    margin-left: 15px;
    top: 190px;
    display: flex;
}



.container-02{
    font-size:  12.5px; 
    color:  #000;
    opacity:  .8;
    font-weight:  400; 
    margin-top: 25px;
    margin-left: 15px;
   

}


.email{
    display: flex;
    margin-left: 2px;
    margin-top: 35px;
}
.email2{
    display: flex;
    margin-left: 2px;
    margin-top: 35px;
}
.email3{
    display: flex;
    margin-left: 2px;
    margin-top: 35px;
}
.email4{
    display: flex;
    margin-left: 2px;
    margin-top: 35px;
    width: 850px;
}
form {
    margin-left: 50px;
    
    
}

select{
    width: 815px;
    height: 35px;
}

input[type=text]{
    width: 45%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-right: 80px;
    
}
input[type=tel]{
    width: 45%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-right: 80px;
    
}
input[type=email]{
    width: 45%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-right: 80px;
    
}

input[type="password"] {
    width: 45%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-right: 80px;
    font-family: 'Open Sans', caption;
}
a{
    color: black;
    margin-left: 15px;
    
}

button {
    background-color: #FC7600;;
    color: white;
    padding: 14px 20px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 45%;
    justify-content: center;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    margin-top: 45px;
    
}
  
  button:hover {
    opacity: 0.8;
  }

  .button-login{
  justify-content: center;
  width: 95%;

}
.termos{
    display: flex;
    
    margin-top: 20px;
 }

.termo-1{
    margin-right: 250px;
    margin-left: 30px;


}
  p{
  
   margin-top: 21px;

  }


  #checkbox{

    margin-left: 20px;
    margin-top: 23px;
  }

  @media (max-width:1024px) {
  }
  <link rel="stylesheet" href="css/cadastro.css">
  **/
 
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
        
        .header-log-nav{
            display: flex;
            width: 100%;
            height: 10vh;
            justify-content: center;
            background: rgba(0, 0, 0, .2);
            
            flex-wrap: wrap;
        }
        .logo{
            cursor: pointer;
            align-self: center;
        
        }
        .nav-links{
            list-style: none;
            text-decoration: none;
            align-self: center;
            font-family: 'Lato', sans-serif;
        }
        .nav-links li{
            display: inline-block;
            padding: 0px 20px;
            align-self: center;
        }
        li, a, button{
            font-weight: 500;
            font-size: 20px;
            color: #edf0f1;
            text-decoration: none;
            align-self: center;
        }
        .nav-links li a:hover{
            border-bottom: 3px solid #FC7600;
        }
        .espaco{
            width: 20%;

        }
        body{
            justify-content: center;
        }
        .modalCadastro{
            display: flex;
            justify-content: center;
        }
        .modal-content-cadastro{
            display: flex;
            justify-content: center;
            margin-top: 5rem;
        }
        .usu-flex-container-01{ /**container-01**/
            display: flex;
            flex-wrap: wrap; 
            justify-content: center;
            width: 100%;
            
        }
        .usu-cadastro{
            font-family: Lato;
        }
        
        .usu-flex-item{
            justify-content: center;
            width: 15rem;
        }
        .usu-logo{
            justify-content: center;
            width: 20%;
            margin: 2rem;
        }
        .usu-card-login{ /** card-login**/
            display: flex;        
            border-radius: 18px;
            width: 80%;
            height: fit-content;
            mix-blend-mode: normal;
            border: 2.8px solid #FC7600;
            filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.50));
            border-radius: 18px;
            background-color:   rgba(253, 253, 253, 0.7);   
                       
            flex-wrap: wrap;
            justify-content: space-around;
            margin:0rem;
        }
        .usu-flex-container-02{/**container de posicionamento do cadastro e seta**/
            display: flex;
            flex-wrap: wrap; 
            width: 90%;
            height: fit-content;
        }
        .usu-flex-container-boas-vindas{/**novo**/
            display: flex;
            flex-wrap: wrap; 
            justify-content: center;
            width: 100%;
            font-family: Lato;
            font-size: 88%;
            font-style: normal;
            font-weight: 800;
            margin-bottom: 7%;
        }

        .usu-flex-container-nome{/**container-02**/
            display: flex;
            flex-wrap: wrap; 
            justify-content: space-around;
            width: 100%;
            font-family: Lato;
            font-size: 88%;
            font-style: normal;
            font-weight: 800;
            margin-bottom: 7%;
            opacity: .8;
        }
        .usu-input-tipo-1{/**email2**/
            background-color: white;
            border: 1px solid  darkgray;
            opacity: 2;
            width: 35%;
            height: 2rem;
            
        }
        .usu-input-Tipo-2{/**email4**/
            background-color: #ffffff;
            border: 1px solid  darkgray;
            opacity: 2;
            width: 85%;
            height: 2rem;
            margin-top: 1rem;
        }
        .usu-input-Tipo-3{/**email3**/
            background-color: #ffffff;
            border: 1px solid  darkgray;
            opacity: 2;
            width: 35%;
            height: 2rem;
        }
        .usu-flex-container-tel-cpf{/**container-02**/
            display: flex;
            flex-wrap: wrap; 
            justify-content: space-around;
            width: 100%;
            font-family: Lato;
            font-size: 88%;
            font-style: normal;
            font-weight: 800;
            margin-bottom: 7%;
        }
        form{
            width: 100%;
        }
        .usu-flex-container-selecione{/**email4**/
            display: flex;
            flex-wrap: wrap; 
            justify-content: space-around;
            width: 100%;
            font-family: Lato;
            font-size: 88%;
            font-style: normal;
            font-weight: 800;
            margin-bottom: 7%;
        }
        .usu-flex-container-senha{/**email3**/
            display: flex;
            flex-wrap: wrap; 
            justify-content: space-around;
            width: 100%;
            font-family: Lato;
            font-size: 88%;
            font-style: normal;
            font-weight: 800;
            margin-bottom: 7%;
        }
        button[type=submit] {
            background-color: #FC7600;;
            color: white;
            padding: 14px 20px;
            height: 3rem;
            border: none;
            cursor: pointer;
            width: 45%;
            justify-content: center;
            font-size: 15px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 18px;
            opacity: 0.8;
        }
        button:hover {
            opacity: 0.6;
          }
        a[class="fas fa-arrow-left"]{
            text-decoration: none;
            color: #FC7600;
            margin: 1rem;
        }
        .usu-flex-container-botao{/**button-login**/
            display: flex;
            flex-wrap: wrap; 
            justify-content: space-around;
            width: 100%;
            margin: 1%;
            height: 5rem;
        }
        .usu-flex-container-termos{/**termos**/
            display: flex;
            flex-wrap: wrap; 
            justify-content: space-around;
            width: 100%;
            font-family: Lato;
            font-size: 88%;
            font-style: normal;
            font-weight: 800;
            margin-bottom: 7%;
            
        }
        .checkbox1{
            width: 80%;
            color: rgb(71, 71, 71);
        }
        .LiEAceito{
            color: darkgray;
        }
        .Termos{/**termos-1**/
            text-decoration: none;
            color:#FC7600;
        }
        .política{
            text-decoration: none;
            color:#FC7600;
        }

   