@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* html{
    font-size: 6.25%;
} */

body{
    font-family: "Lato", sans-serif;
    font-size: 20rem;
    background-image: url ("../img/bg-opacity.png");
    margin: 0px;
}
main{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;

}

.dash-mem-jobs-fin{
    text-decoration: none;
    color: white;
}
.containerServico{
    display: flex;
    border: 2px solid #fff ;
    margin: 20px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color:white;
    justify-content: space-around;
    width: 100%;
}

.containerEsquerda{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    
}

h2{
    font-size: 26rem;
}

.info{
    font-size: 120rem;
}
.form{
    width: 25%;
}
.servicoContratado1{
    
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;

}

.servicoContratado1 .info p{ 
    display: inline;
    margin: 4rem;
}

.tipo1{
    font-weight: bold;
}

.servicoContratado2{
    height: 100%;
    margin: 4rem;
}

.servicoContratado2 .info p{
    margin: 0px
}

.servicoContratado3{
    margin: 4rem;
}



.tipo2{
    font-weight: bold;
    text-decoration: underline;  
}

.containerDireita{
    width: 20%;
    margin-right: 100px;
}

.informacoes{
    font-size: 12rem;
    text-align: end;
}

/* .botoes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 25%;
    justify-content: center;
    height: 100%;
}

.botoes p{
    margin: 0px;
    text-align: center;
}



.botoes .botoes-1{
    border: 1.5px solid #FC7600;
    background-color:#FC7600;
    border-radius: 10px;
    padding: 5px;
    font-size: 20rem;
    width: 50%;
    
}

.botoes .botoes-1:hover{
    background-color: #fa8d2e;
    border: 1.5px solid #fa8d2e;
} */

.link-calendario a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}


@media (max-width:600px){
    .containerServico{
        display: flex;
        border: 2px solid #fff ;
        margin: 20px;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background-color:white;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .containerEsquerda{
        display: flex;
        width: 100%;
        height: fit-content;
        flex-wrap: wrap;
    }
    .containerCentro{
        width: 100%;
        margin-top: 20rem;
        margin-left: 40rem;
    }
    .containerDireita{
        width: 100%;
        
    }
    .servicoContratado1{
        width: fit-content;
        margin: 20rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }
    .servicoContratado2{
        margin: 20rem;
        width: 100%;
        height: fit-content;
    }
    .servicoContratado3{
        margin: 20rem;
        width: 100%;
        display: inline-block;
    }
    /* .botoes{
        justify-content: center;
        display: flex;
        width: 100%;
        height: 10%;
        margin: 16rem;
        margin-top: 0rem;
    }
    .botoes .entregaveis{
        border: 1.5px solid #FC7600;
        background-color:#FC7600;
        border-radius: 10px;
        padding: 5px;
        font-size: 14rem;
        width: 100%;
        margin: 0rem;
    }
    .botoes .prestador{
        width: 100%;
        margin: 0rem;
    } */
    .containerDireita{
        width: 100%;
        margin: 0rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .informacoes{
        margin-left: 50rem;
    }
    .info{
        text-align: left;
    }
    
}
