@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');







#body{
    
    background-image: url("../img/bg-opacity.png");
    display: flex;
    flex-wrap: wrap;
}

#containerServico1-DM-Apro{

    display: flex;
    flex-direction: column;
    height: fit-content;
    border: 2px solid #fff ;
    margin: 2rem;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color:white;
    width: 95%;
}

#containerEsquerda-DM-Apro{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin:2rem;
    justify-content: space-between;
}





#info-DM-Apro{
    width: 100%;
  

}

#btn-end-DM-Apro{
    background-color: #FC7600;
}
#tipo3-DM-Apro{
    border: 1.5px solid #BFBFBF;
    background-color: #FC7600;
    border-radius: 10px;
    padding: 15px;
    /* font-size: 16rem; */
    color: black;
    width: 50px;
}

#servicoContratado1-DM-Apro{
    display: flex;
    flex-wrap: wrap;
    
    width: 45%;
    
    
    height: 580px;
    justify-content: space-between;
}

#servicoContratado1-DM-Apro #info-DM-Apro p{ 
    display: inline;
}
#info-DM-Apro{
    margin-top: 20px;
    height: fit-content;
}

#tipo1-DM-Apro{
    font-weight: bold;
    width: 100%;
    height: fit-content;
}





#containerCentro-DM-Apro{
       width: 25%;
}

#containerCentro-DM-Apro p{
    margin-top: 30px;
    width: 87%;
}



#containerDireita-DM-Apro{
    width: 15%;
    margin: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;   
}

#informacoes{
    /* font-size: 16rem; */
    text-align: end;
    margin: 16rem;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: black;
}

#informacoes a{
    color: black;
}
/* 
#botoes{
    margin-top: 30px;
}

#botoes p{
    margin: 0px;
    text-align: center;  
}

#botoes #prestador{
    border: 1#5px solid #BFBFBF;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 20rem;
    color: black;
    margin: 5rem;
    width: 100%;
    
}

#botoes #prestador:hover{
    background-color:#d4d4d4;
    border: 1#5px solid #d4d4d4;
}

#botoes #entregaveis{
    border: 1#5px solid #FC7600;
    background-color:#FC7600;
    border-radius: 10px;
    padding: 5px;
    font-size: 20rem;
    margin: 5rem;
    width: 100%;
}

#botoes #entregaveis:hover{
    background-color: #fa8d2e;
    border: 1#5px solid #fa8d2e;
} */

@media (max-width:625px){
    #containerServico{
        display: flex;
        border: 2px solid #fff ;
        margin: 20px;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background-color:white;
        justify-content: space-around;
        flex-direction: column;
    }
    #containerEsquerda{
        display: flex;
        width: 100%;
        margin-top: 20rem;
        margin-left: 40rem;
        flex-wrap: wrap;
    }
    #containerCentro{
        width: 100%;
        margin-top: 20rem;
        margin-left: 40rem;
    }
    #containerDireita{
        width: 100%;
        
    }
    #servicoContratado1{
        width: 100%;
    }
    #servicoContratado2{
        margin: 0rem;
    }
    /* #botoes #entregaveis{
        border: 1#5px solid #FC7600;
        background-color:#FC7600;
        border-radius: 10px;
        padding: 5px;
        font-size: 14rem;
        width: 100%;
        margin: 0rem;
    }
    #botoes #prestador{
        width: 100%;
        margin: 0rem;
    } */
    #containerDireita{
        width: 100%;
        margin: 0rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #informacoes{
        margin-left: 50rem;
    }
    
}
