html{
    font-size: 6.25%;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    height: 40vh;
    width: 60vw;
    border: black solid 1px;
}

h2{
    font-size: 22rem;
}

.info{
    font-size: 20rem;
    margin-bottom: 20px;
}

.tipo1{
    font-weight: bold;
}

.containerDir{
    width: 15%;
    height: 50%;
}

.containerEsq{
    margin-top: 10px;
    height: 50%;
}

.informacoesUsuario{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.informacoesUsuario .info p{ 
    display: inline;
}

.tipo2{
    font-weight: bold;
    text-decoration: underline;  
}
.fotoPerfil{
    border-radius: 50%;
    width: 100%;
    margin-left: 10px;
    
}

@media (max-width:520px){
    body{
        width: 100vw;
    }
    .containerDir{
        width: 35%;
    }
    .informacoesUsuario{
        margin-left: 0px;
        margin-top: 100px;
        display: flex;
    }
}