*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* html{
    font-size: 6.25%;
} */

body{
    font-family: 'Lato', sans-serif;
    width: 100%;
    min-height: 100vh;
}

/* início do header */
.headerServico{
    background: url(../img/headerPaginaServico.png);
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

/* botão de retorno para main page */
.headerServico--backButton{  
    width: 6%;
    height: 5.5%;
    margin: 0 0 0 1%;
    display: flex;
}

.headerServico--backButton__paragraph{
    margin: 20% 0 0 0;
    /* font-size: 21rem; */
}

/* fim do botão de retorno para main page */
.headerServico--h1{
    /* font-size: 64rem; */
    color:#212121;
    align-self: flex-end;

    position: relative;
    top: 21%;
    right: 27%;
}

.headerServico--p{
    width: 525px;
    /* font-size: 24rem; */
    margin: 10.8% 0 0 12%;
    color: #212121;
    text-align: end;
    align-self: center;
}

/* .headerServico--buttonOrcamento{
    background: #FC7600;
    border: 1px solid #FC7600;;
    border-radius: 18rem;
    box-shadow: 0rem 4rem 4rem rgba(0, 0, 0, 0.25);
    width: 309rem;
    height: 66rem;
    margin: 9.7% 0 0 9.6%;
}

.headerServico--buttonLink{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25rem;
} */
/* fim do header */


/* início da main - descrição de serviço */
.descricaoServico{
    display: flex;
}

.descricaoServico p{
    /* font-size: 24rem; */
    color: #212121;
    text-align: end;
}

.descricaoServico--paragraph1{
    position: relative;
    left: 26%;
    margin: 8.6% 0 0 0;
}

.descricaoServico--paragraph2{
    align-self: flex-end;
    margin: 22% 4.5% 16.9% 5%;
}

.descricaoServico img{
    width: 100%;
    margin: 2.4% 5.4% 6% 0;
}
/* fim da main - descrição de serviço */

/* media queries */
/* Extra small devices (phones, 600px and down) - referência Chrome: Responsive (600x670)  */
    @media only screen and (max-width: 600px) {

        /* início da header */
        .headerServico{
            width: 100%;
            height: 75vh;
        }

        .headerServico--backButton__paragraph {
            margin: 52% 0 0 0;
        }

        .headerServico--h1 {
            /* font-size: 50rem; */
            top: 10%;
            right: 29%;
        }

        .headerServico--p {
            width: 84%;
            /* font-size: 24rem; */
            margin: 16.8% 2% 0 2%;
            color: #212121;
            text-align: center;
            align-self: center;
        }

        /* .headerServico--buttonOrcamento {
            margin: 71.7% 0 0 -90%;
            width: 37%;
            height: 8vh;
        }

        .headerServico--buttonLink {
            font-size: 20rem;
        } */
        /* fim da header */

        /* início da main de descrição de serviços */
        .descricaoServico {
            flex-direction: column;
            justify-content: space-around;
        }

        .descricaoServico p {
            text-align: center;
            /* font-size: 22rem; */
        }

        .descricaoServico--paragraph1{
            left: 0;

        }

        .descricaoServico--paragraph2{
            margin: 8% 0 3% 0;
        }

        .descricaoServico img {
            width: 100%;
            height: 100vh;
            margin: 2.4% 0 6% 0;
            align-self: center;
        }
        /* fim da main de descrição de serviços */

        /* início do footer */
        .social-links{
            display: flex;
            flex-direction: column;
        }
        .footer-col h4 {
            /* font-size: 11px; */
        }

        .footer-col ul li a {
            /* font-size: 11rem; */
        }

        .footer-col .social-links a{
            margin: 2% 0 0 0;
        }
        /* fim da footer */
    }
