#pagina-projetos {
    text-transform: capitalize;
    transition: all .2s cubic-bezier(.34, 1.12, .68, 1.31);
}

.galeria-projetos {
    min-height: 100vh;
    background: rgba(127, 127, 127, 0.3);
    padding-bottom: 100px;
}

.galeria-projetos .controles-projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    list-style: none;
}

.galeria-projetos .controles-projetos .btn-projetos {
    height: 40px;
    width: 190px;
    background: #fff;
    color: #666;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    margin: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.galeria-projetos .controles-projetos .btn-projetos.active {
    background: #FC7600;
    color: #fff;
}

.galeria-projetos .containerImg-projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.galeria-projetos .containerImg-projetos .img-projetos {
    height: 250px;
    width: 350px;
    overflow: hidden;
    border: 15px solid #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.galeria-projetos .containerImg-projetos .img-projetos img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}