<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/square-logo-lineorange.png">
    <link rel="stylesheet" href="../css/">
    <link rel="stylesheet" href="/css/paginaServico.css">
    <link rel="stylesheet" href="../css/footerGeral.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Serviço 4</title>
</head>
<body>
    <%- include ../partials/headerServico.ejs %>  
    <main>
        <section>
            <div class="descricaoServico">

                <div class="descricaoServico-texto">

                    <p class="descricaoServico--paragraph2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam libero consequatur modi est. Ea, atque explicabo necessitatibus sequi eum numquam pariatur aliquam fugit architecto iure nisi omnis ullam id unde!</p>
                    
                    <p class="descricaoServico--paragraph2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam libero consequatur modi est. Ea, atque explicabo necessitatibus sequi eum numquam pariatur aliquam fugit architecto iure nisi omnis ullam id unde!</p>

                </div>

                <img src="../img/descritivoPaginaServico.png" alt="Imagem ilustrativa para o serviço solicitado.">
            </div>
        </section>

       
    </main>
    
</body>
</html>