<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/square-logo-lineorange.png">
    <link rel="stylesheet" href="../css/">
    <link rel="stylesheet" href="/css/paginaServico.css">
    <link rel="stylesheet" href="../css/footerGeral.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Serviço 5</title>
</head>
<body>
    <header class="headerServico">
        <div class="headerServico--backButton">
            <a href="/"><img src="../img/seta-retorno.png" alt="retorno" style="width: 30px; margin: 15px;"></a>
            <p class="headerServico--backButton__paragraph">Home</p>
        </div>

        <h1 class="headerServico--h1">Serviço 5</h1>

        <p class="headerServico--p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vitae, alias maiores voluptatum esse quia laborum ex. Voluptate omnis cupiditate, sint voluptatum impedit cumque cum illo esse aperiam nisi suscipit?</p>

        <button class="headerServico--buttonOrcamento"><a class="headerServico--buttonLink" href="/orcamento"> Quero um orçamento</a></button>
    </header>
    
    <main>
        <section>
            <div class="descricaoServico">

                <div class="descricaoServico-texto">

                    <p class="descricaoServico--paragraph2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam libero consequatur modi est. Ea, atque explicabo necessitatibus sequi eum numquam pariatur aliquam fugit architecto iure nisi omnis ullam id unde!</p>
                    
                    <p class="descricaoServico--paragraph2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam libero consequatur modi est. Ea, atque explicabo necessitatibus sequi eum numquam pariatur aliquam fugit architecto iure nisi omnis ullam id unde!</p>

                </div>

                <img src="../img/descritivoPaginaServico.png" alt="Imagem ilustrativa para o serviço solicitado.">
            </div>
        </section>

       
    </main>
    
</body>
</html>