<!DOCTYPE html>
<html lang="pt-br">

<body>
    <%- include ../partials/headerServico.ejs %>
    <main>
        <section>
            <div class="descricaoServico">

                <div class="descricaoServico-texto">

                    <p class="descricaoServico--paragraph2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam libero consequatur modi est. Ea, atque explicabo necessitatibus sequi eum numquam pariatur aliquam fugit architecto iure nisi omnis ullam id unde!</p>
                    
                    <p class="descricaoServico--paragraph2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam libero consequatur modi est. Ea, atque explicabo necessitatibus sequi eum numquam pariatur aliquam fugit architecto iure nisi omnis ullam id unde!</p>

                </div>

                <img src="../img/descritivoPaginaServico.png" alt="Imagem ilustrativa para o serviço solicitado.">
            </div>
        </section>

       
    </main>
    
</body>
</html>