<html lang="en" id="pagina-projetos">
<%- include ../partials/head2.ejs %>

    <body>
        <div class="galeria-projetos">
            <ul class="controles-projetos">
                <li class="btn-projetos" data-filter="completo">completo</li>
                <li class="btn-projetos" data-filter="fotografia">fotografia</li>
                <li class="btn-projetos" data-filter="fotografia-360-3d">fotografia-360-3d</li>
                <li class="btn-projetos" data-filter="video-dinamico">video-dinamico</li>
                <li class="btn-projetos" data-filter="imagens-aereas">imagens-aereas</li>
            </ul>

            <div class="containerImg-projetos">

                <!-- Projeto 1 -->
                <a href="/img/imagensPortifolio/projeto1/img1.jpg" class="img-projetos fotografia">
                    <img src="/img/imagensPortifolio/projeto1/img1.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto1/img2.jpg" class="img-projetos fotografia">
                    <img src="/img/imagensPortifolio/projeto1/img2.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto1/img3.jpg" class="img-projetos fotografia">
                    <img src="/img/imagensPortifolio/projeto1/img3.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto1/img4.jpg" class="img-projetos fotografia">
                    <img src="/img/imagensPortifolio/projeto1/img4.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto1/img5.jpg" class="img-projetos fotografia">
                    <img src="/img/imagensPortifolio/projeto1/img5.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto1/img6.jpg" class="img-projetos fotografia">
                    <img src="/img/imagensPortifolio/projeto1/img6.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto1/img7.jpg" class="img-projetos fotografia">
                    <img src="/img/imagensPortifolio/projeto1/img7.jpg" alt="">
                </a>

                <!-- Projeto 2 -->
                <a href="/img/imagensPortifolio/projeto2/img1.jpg" class="img-projetos fotografia-360-3d">
                    <img src="/img/imagensPortifolio/projeto2/img1.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto2/img2.jpg" class="img-projetos fotografia-360-3d">
                    <img src="/img/imagensPortifolio/projeto2/img2.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto2/img3.jpg" class="img-projetos fotografia-360-3d">
                    <img src="/img/imagensPortifolio/projeto2/img3.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto2/img4.jpg" class="img-projetos fotografia-360-3d">
                    <img src="/img/imagensPortifolio/projeto2/img4.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto2/img5.jpg" class="img-projetos fotografia-360-3d">
                    <img src="/img/imagensPortifolio/projeto2/img5.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto2/img6.jpg" class="img-projetos fotografia-360-3d">
                    <img src="/img/imagensPortifolio/projeto2/img6.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto2/img7.jpg" class="img-projetos fotografia-360-3d">
                    <img src="/img/imagensPortifolio/projeto2/img7.jpg" alt="">
                </a>

                <!-- Projeto 3 -->
                <a href="/img/imagensPortifolio/projeto3/img1.jpg" class="img-projetos video-dinamico">
                    <img src="/img/imagensPortifolio/projeto3/img1.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto3/img2.jpg" class="img-projetos video-dinamico">
                    <img src="/img/imagensPortifolio/projeto3/img2.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto3/img3.jpg" class="img-projetos video-dinamico">
                    <img src="/img/imagensPortifolio/projeto3/img3.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto3/img4.jpg" class="img-projetos video-dinamico">
                    <img src="/img/imagensPortifolio/projeto3/img4.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto3/img5.jpg" class="img-projetos video-dinamico">
                    <img src="/img/imagensPortifolio/projeto3/img5.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto3/img6.jpg" class="img-projetos video-dinamico">
                    <img src="/img/imagensPortifolio/projeto3/img6.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto3/img7.jpg" class="img-projetos video-dinamico">
                    <img src="/img/imagensPortifolio/projeto3/img7.jpg" alt="">
                </a>

                <!-- Projeto 4 -->
                <a href="/img/imagensPortifolio/projeto4/img1.jpg" class="img-projetos imagens-aereas">
                    <img src="/img/imagensPortifolio/projeto4/img1.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto4/img2.jpg" class="img-projetos imagens-aereas">
                    <img src="/img/imagensPortifolio/projeto4/img2.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto4/img3.jpg" class="img-projetos imagens-aereas">
                    <img src="/img/imagensPortifolio/projeto4/img3.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto4/img4.jpg" class="img-projetos imagens-aereas">
                    <img src="/img/imagensPortifolio/projeto4/img4.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto4/img5.jpg" class="img-projetos imagens-aereas">
                    <img src="/img/imagensPortifolio/projeto4/img5.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto4/img6.jpg" class="img-projetos imagens-aereas">
                    <img src="/img/imagensPortifolio/projeto4/img6.jpg" alt="">
                </a>

                <a href="/img/imagensPortifolio/projeto4/img7.jpg" class="img-projetos imagens-aereas">
                    <img src="/img/imagensPortifolio/projeto4/img7.jpg" alt="">
                </a>

            </div>

        </div>

        <!-- jquery link -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- popup js cdn link -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    </body>

</html>