html{
    /* font-size: 6.25%; */
    box-sizing: border-box;
}

body{
    font-family: Arial;
    height: 200px;
    width: 400px;
  
}

header{
    background: #EFB37E;
    height: 10vh;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal2{
    background: #EFB37E;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h3{
    /* font-size: 18rem; */
    text-align: center;
    padding-top: 20px;
}

.botao{
    border: 1.5px solid #BFBFBF;
    background-color: white;
    border-radius: 10px;
    padding: 2px 40px;
    /* font-size: 16rem; */
    color: black;
    width: 10%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    margin: 0px;
}

.botao:hover{
    background-color:#d4d4d4;
    border: 1.5px solid #d4d4d4;
}

