@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 115px;
  font-family: "Lato", sans-serif;
}




/* Modal Content*/
.adminLogin{
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  font-family: "Lato", sans-serif;
  margin: 5px auto;
 /*  border: #0c0c0c solid 1px; */
  width: 30%;
  height: 530px;
  position: absolute;
  display: flex;
  top: 175px;
  left: 15px;
 
}

.container-admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width:100%;
  height: 530px;
   
}

.modal-content {
  background-color: #FC7600;
  font-family: "Lato", sans-serif;
  margin: 5px auto;
 /*  border: #0c0c0c solid 1px; */
  width: 30%;
  height: 530px;
  position: absolute;
  display: flex;
  top: 180px;
  left: 566px;
}
.membro{
  height: 85px;
  margin-top: 150px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #FC7600;
  width: 30%;
  height: 530px;
  position: absolute;
  display: flex;
  top: 30%;
  left: 35%;
   
}

.container-logo{
  font-family: "Lato", sans-serif;
  font-weight: 500;
  /* font-size: 20px; */
  color:black;
  text-decoration: none;
  margin: 50px;
  

}

.login input{
  position: relative;
  left: 20%;
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-flex;
  border: 1px solid #ccc;
  box-sizing: border-box;
 
  
}
.adminLogin{
  width:1350px;
}



.psw-forget a{
 /*  text-decoration: none; */
  color:white;
  font-weight: bold;
  /* font-size: 15px; */
  
}
.psw-forget a:hover{
color:black;

}
.pws{
  /* font-size: 15px; */
}

.psw a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  /* font-size: 15px; */
  
}
.psw a:hover{
  color:white;
}
 
.modal-cadastro{
  margin-top: 30px;
  /* font-size: 15px; */
  color: black;


} 


 .login button{
  position: relative;
  left: 25%;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: BLACK;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  /* font-size: 15px; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-weight: bold;

 }
 .login button:hover{

 background: rgba(252, 118, 0, 0.8);
 }

.icons-login{
  display: flex;
  justify-content:center;

  
} 
.icons-login img{
  width: 33px;
  height: 33px;
  margin: 15px;
  

}



/* Botao Close */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  /* font-size: 35px; */
  font-weight: bold;
}

/* Botao fechamento hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

