
/* o html tá no dashboardUsuario_solicitacoes */
/*html{
    font-size: 6.25%;
}

header{
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:sticky;
    top:0;
    left: 0;
    font-size: 16rem;
    margin:0;
   
  
}
header a{
    width: 15%;
    display: flex;
    justify-content: center;
    margin:none;
}

nav{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}



#selected{
    color: white;
    padding: 10px 30px 3px 30px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: #FC7600 solid 2px;
    font-weight: bold;
    
    
}

#selected:hover{
    border-bottom: 3px solid #FC7600;
}
nav ul li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 15%
    

}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 25%;
    

}

nav li{
    width: fit-content;
    text-align: center;
   
}
nav a{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #edf0f1;
    text-decoration: none;
    width: 15%;
}

nav li a {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #edf0f1;
    text-decoration: none;
    
}

nav li a:hover{
    color:#db7012;
}

.usuario{
    width:20%;
    margin-bottom: 15px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem;

    
   
}
.usuario-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin: 4rem;
}

.usuario a{
    color:#FC7600;
    text-decoration: none;
    margin-left: none;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    text-align: center;
}

#logo {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    width:  15%;
    color: #edf0f1;
    text-decoration: none;
}



.usuario a:hover{
    color: white;
}

.fotoPerfil{
    border-radius: 50%;
    width:15%;
    height: auto;
}
@media (max-width:600px){
    nav li a{
        font-family: "Lato", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #edf0f1;
        text-decoration: none;
        width: 10%;
    }
    nav ul li {
        margin: 5rem;
        width: 10%;
    }
}
*/
/* html{
    font-size: 6.25%; 
}*/

header{
    margin:0;
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:sticky;
    top:0;
    left: 0;
    font-size: 16rem;
    margin:0;
   
  
}

#selected{
    color: white;
    padding: 10px 30px 3px 30px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: #FC7600 solid 2px;
    font-weight: bold;
    
    
}

#selected:hover{
    border-bottom: 3px solid #FC7600;
}

nav{
    width: 60%;
    display: flex;
    justify-content: space-around;
    

}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
     
    

}


nav li a {
    margin-left: 85px;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
}

nav li a:hover{
    color:#FC7600;
}

.usuario{
    width:20%;
    margin-bottom: 15px;
    
   
}

.usuario a{
    color:white;
    text-decoration: none;
    margin-left: 20px;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: bold;
    
}

#logo {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #edf0f1;
    text-decoration: none;
}



.usuario a:hover{
    color: #FC7600;
}

.fotoPerfil{
    margin-top: 8px;
    margin-left: 5px;
    border-radius: 50%;
    width: 13%;
    height: auto;
}

@media (max-width:600px){
    nav li a{
        font-family: "Lato", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #edf0f1;
        text-decoration: none;
        width: 10%;
    }
    nav ul li {
        margin: 5rem;
        width: 10%;
    }
}