header {
  background: rgba(0, 0, 0, 0.4);
  width: auto;
  height: 6.876rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
}

#selected {
  position: relative;
  color: white;
  padding: 0.063rem 0.063rem 0.063rem 0.063rem;
  border-radius: 0.625rem 0.625rem 0 0;
  border-bottom: #fc7600 solid 0.125rem;
  font-weight: bold;
}

#selected:hover {
  border-bottom: 0.188rem solid #fc7600;
}

.nav-hea {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  left: 15%;
  list-style-type: none;
}

nav li a {
  display: flex;
  position: relative;
  margin-right: 8rem;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

nav li a:hover {
  color: #fc7600;
}

.usuario {
  width: 20%;
  height: 6.25rem;
  margin-bottom: 0.938rem;
}

.usuario,
.a {
  color: white;
  text-decoration: none;
  margin-left: 1.25rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.container-div {
  display: flex;
  position: absolute;
  top: 45%;
  left: 83%;
  background-color: transparent;
  width: 18%;
  margin-top: 1.875rem;
  margin-bottom: 0.313rem;
  color: #edf0f1;
}

.container-cadastrese {
  display: flex;
  position: absolute;
  top: 40%;
  left: 72%;
  background-color: transparent;
  width: 18%;
  margin-top: 1.875rem;
  color: #edf0f1;
}

.header-cadastrese {
  text-align: center;
}

.header-cadastrese a {
  text-decoration: none;
  color: white;
}

.header-cadastrese a:hover {
  color: #fc7600;
  font-weight: bold;
}

#logo {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.usuario a:hover {
  color: #fc7600;
}

.fotoPerfil {
  border-radius: 50%;
  width: 12%;
  margin-left: 0.625rem;
}

.login {
  padding: 0.625rem 1.563rem;
  background: rgba(252, 118, 0, 1);
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
}

.login:hover {
  background: rgba(252, 118, 0, 0.8);
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 0.75rem;
  border: solid 0.188rem #8acaf5;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(252, 118, 0, 0.8);
  min-width: 10rem;
  width: 28.125rem;
  height: 35rem;
  top: 3%;
  right: 0;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  z-index: 99;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #2980b9;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
  position: fixed;
  right: 3.125rem;
}
