.headerAreaRestritaMembros {
  height: 18vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 989;
  backdrop-filter: blur(6px);
}

.headerAreaRestritaMembros__logo {
  margin-left: 20px;
  font-weight: bold;
  color: #fc7600;
  text-decoration: none;
  font-size: 24px;
}

.headerAreaRestritaMembros__links-header li {
  font-size: 22px;
  display: inline-block;
  padding: 0px 20px;
}

.headerAreaRestritaMembros__links-header li a {
  margin-left: 85px;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color: #81a8e7;
  text-decoration: none;
}

.headerAreaRestritaMembros__links-header li a:hover {
  color: #fc7600;
  border-bottom: 1px solid #fc7600;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 0.75rem;
  border: solid 0.188rem #8acaf5;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(252, 118, 0, 1);
  min-width: 10rem;
  width: 28.125rem;
  height: 21rem;
  top: 1%;
  right: 0;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  z-index: 99;
  backdrop-filter: blur(6px);
  color: white;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  padding: 1px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #2980b9;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
  position: fixed;
  right: 0.125rem;
  top: 7rem;
}

/* Ajustes de CSS para DM_jobsfinalizados.ejs */
.containerServico.containerPadding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ordenacao.ordenacaoMargin {
  margin-right: 29px;
}

.cronos.cronosMargin {
  margin-top: 20px;
}

.busca {
  display: flex;
  margin-top: 20px;
}
